/* Splash Screen */

.splash {
    background: url(../images/bg03.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-size: cover;
}

.header-login {
    background: url(../images/bg03.jpg);
    background-position: 0px -160px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    height: 300px;
    padding-top: 50px;
}

.splash .logo {
    width: 70%;
    margin: 60% auto 20px;
    display: block;
}

.box-login {
    width: 90%;
    padding: 20px;
    background: #FFF;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 5px;
    margin: -130px auto 0;
}

.login {
    background: #f5f5f5;
}

.login .logo {
    margin: auto !important;
    width: 65%;
}

.copyright {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 11px;
    padding: 10px;
    background: #dedede;
}

/** { transition: all 200ms linear 0s; }*/

body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

textarea, input { outline: none; }

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.btn-default {
    text-align: center;
    display: block;
    background: #c62222;
    padding: 15px 5px;
    margin-top: 20px;
    color: #FFF;
    font-size: 16px;
    border: none;
    width: 100%;
}

a{text-decoration: none;}
a:hover{text-decoration: none;}

.white{background: #FFFFFF}
.red{background: #c62222}
.red-dark-alpha{background: #5a040491}
.blue{background: #00BCD4}
.green{background: #4CAF50}
.yellow{background: #FC0}
.gray{background: #CCCCCC}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFFFFF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #FFFFFF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
  }

.title-app{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    width: 280px !important;
    left:-310px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-open {
    top: 14px;
    position: absolute;
}

.sync {
    position: absolute;
    top: 13px;
    right: 15px;
}

.search{
    position: absolute;
    top: 13px;
    right: 15px;
}

.search img {
    width: 25px !important;
}

.bar-customer-back {
    border-radius: 0;
    border: none;
    background: #c62222;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 55px;
    left: 0;
    top: 0;
    display: none;
}

.menu-back {
    top: 14px;
    position: absolute;
    left: 14px;
}

.menu-photo {
    position: absolute;
    top: 13px;
    right: 15px;
}


.menu-principal ul li {
    display: block;
    width: 100%;
    padding-left: 20px;
}

.menu-principal ul li a{font-size: 16px; color: #000;}

.header-nav h3 {
    margin: 0;
    color: #FFF;
    font-size: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #000000;
}

.navbar-collapse {
    padding-left: 0px !important;
}

#main {
    transition: margin-left .5s;
}

nav.navbar {
    border-radius: 0;
    border: none;
    background: #c62222;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 55px;
}

.box-search {
    background: #c62222;
    padding: 10px;
    z-index: 9999999;
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0px;
    display: none;
}

.box-search input[type="text"] {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: solid 1px #FFFFFF;
    color:#FFFFFF;
}

.back-menu {
    background: #000000b3;
    width: 100%;
    position: fixed;
    z-index: 9;
    height: 100%;
    top: 0;
    display: none;
}

.graficos .col-md-3,.col-md-4,.col-xs-6,.col-xs-12 {
    margin-bottom: 15px;
}

.box-tile {
    height: 150px;
    box-shadow: rgba(0,0,0,0.1) 2px 2px 5px;
}
.box-tile.minha-meta h3{
    margin-top: 0px;
}
.box-tile.minha-meta canvas{
    height: 200px;
}
.box-tile.minha-meta{
    padding: 15px;
    height: 200px;

}

/*.box-tile:hover {
    box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
}

.box-tile:hover {
    box-shadow: inset rgba(0,0,0,0.1) 0px 0px 80px;
}*/

.route-customer {
    height: 90px;
    color:#c62222;
    padding-top: 10px;
}

.route-customer .glyphicon{
    border-radius: 99px;
    border: 1px solid #c62222;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 26px;
    line-height: 52px;
}

.route-customer h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.customers-served {
    /*text-align: center;*/
    padding: 15px;
    height: 120px;
    color: #000000;
}

.loading-customers {
    width: 100%;
    height: 8px;
    background: #f5f5f5;
    position: relative;
    margin-top: 10px;
    color: #000000;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animabar {
    from {width: 0;}
    to {width: 50%;}
  }
  
  /* Standard syntax */
  @keyframes animabar {
   from {width: 0;}
    to {width: 50%;}
  }

.bar-loading {
    width: 50%;
    height: 8px;
    background: #c62222;
    -webkit-animation-name: animabar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: animabar;
    animation-duration: 2s;
}

.next-customer {
    display: block;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
}

.catalog-products {
    text-align: center;
    font-size: 16px;
    color: #000000;
    height: 120px;
}

.catalog-products img{
    width: 50px;
    margin: auto;
    padding-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.stock-price{
    text-align: center;
    font-size: 16px;
    color: #000000;
    height: 120px;
}

.stock-price img{
    width: 50px;
    margin: auto;
    padding-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.charts-reports{
    text-align: center;
    font-size: 16px;
    color: #000000;
    height: 120px;
}

.charts-reports img{
    width: 50px;
    margin: auto;
    padding-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.float-button{
    background: #c62222;
    width: 70px;
    height: 70px;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 2;
    border-radius: 40px;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 15px;
}

.float-button img{
    width: 40px;
    margin-left: 14px;
    margin-top: 12px;
}

.nav>li {
    position: relative;
    display: inline-block;
}

.header-nav {
    background: url(../images/bg03.jpg);
    background-position: 0px -160px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    color: #FFF;
    padding: 50px 25px 0px 25px;
}

.menu-principal img {
    margin-right: 5px;
}

.overlay-add-customer {
    position: fixed;
    background: #000000b3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
  
.buttons-add {
    position: absolute;
    bottom: 95px;
    right: 30px;
    font-size: 16px;
    line-height: 40px;
    text-align: right;
    list-style: none;
}

.buttons-add img {
    width: 25px;
    margin-left: 5px;
}

.buttons-add a{color:#FFF;}

/* MEUS CLIENTES */

.grid-customers,.my-route a {
    color: #000;
}

.box-customer {
    padding: 15px;
    height: 80px;
    position: relative;
}

.box-customer .col-xs-9 {
    padding: 0;
}

.box-customer p {
    margin: 0;
    font-size: 12px;
}

.box-customer .name {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 16px;
}

.box-indic {
    position: absolute;
    right: 0;
    top:0;
}

.tab-page-1 a{color:#000000;}
.tab-page-2 a{color:#000000;}
.tab-page-3 a{color:#000000;}

.tab-page-3 .box-indic {
    display: none;
}

.tab-page-3 .box-customer {
    opacity: 0.5;
}
.tab-page-3 a:nth-child(2n+1),
.tab-page-1 a:nth-child(3n+3){
    display: none;
}

.box-indic span {
    float: left;
    height: 80px;
    padding: 0 4px;
    font-size: 10px;
    font-weight: bold;
    line-height: 80px;
    color: #FFF;
}

/* Detalhe de Clientes */

.nav-tab-custom {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-tab-custom a {
    display: inline-block;
    color: #c62222;
    font-size: 14px;
    padding: 5px;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

.cadastro-customers .nav-tab-custom a {
    width: 30%;
    text-align: center;
}

.nav-tab-custom a.active {
    border-bottom: solid 2px #c62222;
}

.cadastro .label-lbl {
    color: #999;
}

.tab-content {
    padding: 0px 10px;
}

.tab-page-1{display: block;}
.tab-page-2{display: none;}
.tab-page-3{display: none;}
.tab-page-4{display: none;}

.customer-pend {
    opacity: 0.6;
}

/* Detalhes Clientes - Tabs */

.inadimplencia-acumulada {height: 90px; padding: 15px;}
.limite-disponivel,.items-medio-pedido,.formas-pagamento,.ultima-entrega {padding: 15px;}
.limite-disponivel {height: 165px;}
.items-medio-pedido .value {margin-top: 20px;}
.ultima-entrega img {margin: 10px 0;}
.label-lbl {margin: 0;}
.value {font-size: 26px;}

.other-values {
    clear: both;
    border-top: solid 1px #CCC;
    padding-top: 15px;
}

.other-values .value {font-size: 15px;}

.label-lbl-value {
    font-size: 16px;
    margin-bottom: 10px;
}

.cadastro {
    padding: 30px 15px 0 30px;
    background: #FFF;
    height: 100%;
    position: fixed;
    right: 0;
}

.link-btn {
    background: #c62222;
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: #FFF;
    padding: 15px;
    font-size: 20px;
    left: 0;
}

/* Cadastro Clientes */

.cep-cadastro {
    padding-top: 20px;
}

.cep-cadastro input[type="radio"] {
    margin-right: 5px;
    margin-top: 0;
}

.screen-photo {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display:none;
    overflow-y: auto;
}

.screen-photo h3 {
    text-align: center;
    margin: 0px 0px 0px 0;
    background: #e6e6e6;
    padding: 15px 0;
    font-size: 18px;
    box-shadow: rgba(0,0,0,0.4) 0 0 10px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
}

.close-screen-photo {
    position: absolute;
    top: 0;
    right: 5px;
    color: #FFF;
    background: #CCC;
    display: inline-block;
    width: 50px !important;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

.screen-photo .box-tile {
    width: 100%;
    margin: auto;
    height: auto;
    padding-top: 15px;
    overflow-y: auto;
}

.screen-photo .box-tile .col-xs-4 {
    margin-bottom: 15px;
}

.screen-photo .box-tile .col-xs-4 span {
    background: #CCC;
    height: 100px;
    display: block;
}

.screen-photo .box-tile .col-xs-4 span img {
    width: 50px;
    margin: auto;
    display: block;
    padding-top: 25px;
}

/* Produtos */

.box-product {
    padding: 15px;
    height: 100px;
    position: relative;
}

a .card-product {
    color: #000;
}

.box-product .name {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 16px;
    color: #c62222;
}

.overlay-modal {
    background: #000000b3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-transition: display 2s; /* For Safari 3.1 to 6.0 */
    transition: display 2s;
    display: none;
}

.modal-custom {
    width: 85%;
    min-height: 250px;
    padding: 20px;
    background: #FFF;
    margin: 150px auto;
    box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.header-modal {
    text-align: center;
    font-size: 22px;
}

.float-button-grid {
    background: #666666;
    width: 70px;
    height: 70px;
    display: block;
    position: fixed;
    right: 10px;
    top: 140px;
    z-index: 2;
    border-radius: 40px;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 15px;
}
.float-button-grid img{
    width: 30px;
    margin-left: 19px;
    margin-top: 18px;
}

.card-product {
    margin-bottom: 10px;
}

.product-grid {
    padding: 15px;
    height: auto;
    position: relative;
}

.image-grid {
    background: #666666 url(../images/grid_w.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 19px 20px;
}

.image-list {
    background: #666666 url(../images/list_w.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 19px 20px;
}

.product-grid .col-xs-3 {
    width: 100% !important;
}

.product-grid .col-xs-9 {
    width: 100% !important;
    text-align: center;
}

.product-grid .name {
    font-size: 24px;
    margin-top: 10px;
}

.product-grid .col-xs-3 img {
    width: 100% !important;
}


/* Card Branding */

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .scrolling-wrapper .card {
    display: inline-block;
    background: #eeeeee;
  }
  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .card {
    border: none;
    width: 100%;
    height: 500px;
    margin-right: 15px;
    background: #FFFFFF;
    text-align: center;
    line-height: 410px;
    box-shadow: rgba(0,0,0,0.1) 2px 2px 5px;
  }

  .card img{width: 80%;}
  
  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 520px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }

  /* LP Itaipava */

  .lp-itaipava {
    margin-left: -15px;
    margin-right: -15px;
    height: auto;
    background: #ce9b4c;
}

.lp-itaipava img {
    width: 100%;
}

.lp-itaipava a:nth-child(6) {
    display: none;
}

.lp-itaipava a:nth-child(7) {
    display: none;
}

.lp-itaipava a:nth-child(13) {
    display: none;
}

.lp-itaipava a:nth-child(14) {
    display: none;
}

/* Meus Pedidos */

.grid-requests a {
    color: #000;
}

.box-pedidos .cod-pedido {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.box-pedidos {
    padding: 15px;
    height: 80px;
    position: relative;
    border-left: solid 4px #CCCCCC;
}

.status-pago{border-left: solid 4px #7fc317;}
.status-nao-pago{border-left: solid 4px #cc0808;}

.box-pedidos .col-xs-8 {
    padding: 0;
}


/* Element input Mobile */

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #c62222;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 8px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #c62222;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: transparent;
}
  .inp input:not(:placeholder-shown) + span {
    color: #c62222;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
    background: none;
    outline: none;
  }
  .inp input:focus + span {
    color: #c62222;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
    transform: scaleX(1);
  }
  