* { transition: all 200ms linear 0s; }

body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.white{background: #FFFFFF}
.red{background: #F44336}
.red-dark-alpha{background: #5a040491}
.blue{background: #00BCD4}
.green{background: #4CAF50}
.yellow{background: #FC0}
.gray{background: #CCCCCC}

.title-app{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    width: 280px !important;
    left:-310px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-open {
    top: 14px;
    position: absolute;
}

.sync {
    position: absolute;
    top: 13px;
    right: 15px;
}

.menu-principal ul li {
    display: block;
    width: 100%;
    padding-left: 20px;
}

.menu-principal ul li a{font-size: 16px; color: #000;}

.header-nav h3 {
    margin: 0;
    color: #FFF;
    font-size: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #000000;
}

.navbar-collapse {
    padding-left: 0px !important;
}

#main {
    transition: margin-left .5s;
}

nav.navbar {
    border-radius: 0;
    border: none;
    background: #c62222;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 55px;
}

.back-menu {
    background: #000000b3;
    width: 100%;
    position: fixed;
    z-index: 9;
    height: 100%;
    top: 0;
    display: none;
}

.graficos .col-md-3,.col-md-4,.col-xs-6,.col-xs-12 {
    margin-bottom: 15px;
}

.box-tile {
    height: 150px;
    box-shadow: rgba(0,0,0,0.1) 2px 2px 5px;
}

/*.box-tile:hover {
    box-shadow: inset rgba(0,0,0,0.1) 0px 0px 80px;
}*/

.route-customer {
    height: 90px;
    color:#c62222;
}

.route-customer h3 {
    margin-bottom: 5px;
}

.customers-served {
    text-align: center;
    padding: 15px;
    height: 120px;
    color: #000000;
}

.loading-customers {
    width: 100%;
    height: 8px;
    background: #f5f5f5;
    position: relative;
    margin-top: 10px;
    color: #000000;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animabar {
    from {width: 0;}
    to {width: 50%;}
  }
  
  /* Standard syntax */
  @keyframes animabar {
   from {width: 0;}
    to {width: 50%;}
  }

.bar-loading {
    width: 50%;
    height: 8px;
    background: #c62222;
    -webkit-animation-name: animabar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: animabar;
    animation-duration: 2s;
}

.next-customer {
    display: block;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
}

.catalog-products {
    text-align: center;
    font-size: 16px;
    color: #000000;
    height: 120px;
}

.catalog-products img{
    width: 50px;
    margin: auto;
    padding-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.stock-price{
    text-align: center;
    font-size: 16px;
    color: #000000;
    height: 120px;
}

.stock-price img{
    width: 50px;
    margin: auto;
    padding-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.charts-reports{
    text-align: center;
    font-size: 16px;
    color: #000000;
    height: 120px;
}

.charts-reports img{
    width: 50px;
    margin: auto;
    padding-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.float-button-clientes {
    background: #c62222;
    width: 70px;
    height: 70px;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 2;
    border-radius: 40px;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 15px;
}

.float-button-clientes img{
    width: 40px;
    margin-left: 14px;
    margin-top: 12px;
}

.nav>li {
    position: relative;
    display: inline-block;
}

.header-nav {
    background: #c62222;
    height: 120px;
    color: #FFF;
    padding: 50px 25px 0px 25px;
}

.menu-principal img {
    margin-right: 5px;
}

.overlay-add-customer {
    position: fixed;
    background: #000000b3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
  
.buttons-add {
    position: absolute;
    bottom: 95px;
    right: 30px;
    font-size: 16px;
    line-height: 40px;
    text-align: right;
    list-style: none;
}

.buttons-add img {
    width: 25px;
    margin-left: 5px;
}

.buttons-add a{color:#FFF;}

/* MEUS CLIENTES */

.grid-customers a {
    color: #000;
}

.box-customer {
    padding: 15px;
    height: 80px;
    position: relative;
}

.box-customer .col-xs-9 {
    padding: 0;
}

.box-customer p {
    margin: 0;
    font-size: 12px;
}

.box-customer .name {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 16px;
}

.box-indic {
    position: absolute;
    right: 0;
    top:0;
}

.box-indic span {
    display: inline-block;
    height: 80px;
    float: left;
    padding: 0 4px;
    font-size: 10px;
    font-weight: bold;
    line-height: 80px;
    color: #FFF;
}

/* Detalhe de Clientes */

.nav-tab-custom {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-tab-custom a {
    display: inline-block;
    color: #c62222;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

.cadastro-customers .nav-tab-custom a {
    width: 30%;
    text-align: center;
}

.nav-tab-custom a.active {
    border-bottom: solid 2px #c62222;
}

.cadastro .label-lbl {
    color: #999;
}

.tab-content {
    padding: 0px 10px;
}

.tab-page-1{display: block;}
.tab-page-2{display: none;}
.tab-page-3{display: none;}
.tab-page-4{display: none;}

/* Detalhes Clientes - Tabs */

.inadimplencia-acumulada {height: 90px; padding: 15px;}
.limite-disponivel,.items-medio-pedido,.formas-pagamento,.ultima-entrega {padding: 15px;}
.limite-disponivel {height: 165px;}
.items-medio-pedido .value {margin-top: 20px;}
.ultima-entrega img {margin: 10px 0;}
.label-lbl {margin: 0;}
.value {font-size: 26px;}

.other-values {
    clear: both;
    border-top: solid 1px #CCC;
    padding-top: 15px;
}

.other-values .value {font-size: 15px;}

.label-lbl-value {
    font-size: 16px;
    margin-bottom: 10px;
}

.cadastro {
    padding: 30px 15px 0 30px;
    background: #FFF;
    height: 100%;
    position: fixed;
    right: 0;
}

.link-btn {
    background: #c62222;
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: #FFF;
    padding: 15px;
    font-size: 20px;
    left: 0;
}

/* Cadastro Clientes */

.cep-cadastro {
    padding-top: 20px;
}