<div class="row cadastro-customers" style="padding-top: 20px;">
    <div class="nav-tab-custom">
        <a class="tab-1 active">Cadastro</a>
        <a class="tab-2">Contatos</a>
        <a class="tab-3">Endereço</a>
        
    </div>
      
      <div class="tab-content">
       
        <div class="tab-page-1">
            
            <div class="row">

                <div class="col-md-12 col-xs-12">
                        
                             <label for="inp" class="inp">
                                <input type="text" id="inp" placeholder="&nbsp;">
                                <span class="label">CNPJ</span>
                                <span class="border"></span>
                              </label>


                              <label for="inp" class="inp">
                                  <input type="text" id="inp" placeholder="&nbsp;">
                                  <span class="label">Razão Social</span>
                                  <span class="border"></span>
                              </label>


                              <label for="inp" class="inp">
                                  <input type="text" id="inp" placeholder="&nbsp;">
                                  <span class="label">Inscrição Estadual</span>
                                  <span class="border"></span>
                              </label>

                              <label for="inp" class="inp">
                                  <input type="text" id="inp" placeholder="&nbsp;">
                                  <span class="label">Telefone Comercial</span>
                                  <span class="border"></span>
                              </label>

                </div>

            </div>

            <a class="link-btn link-btn-tab2">Continuar</a>

        </div>

        <div class="tab-page-2">
         
                <div class="row">

                        <div class="col-md-12 col-xs-12">
                                
                                <label for="inp" class="inp">
                                        <input type="text" id="inp" placeholder="&nbsp;">
                                        <span class="label">Nome do Responsável</span>
                                        <span class="border"></span>
                                      </label>
        
        
                                      <label for="inp" class="inp">
                                            <input type="text" id="inp" placeholder="&nbsp;">
                                            <span class="label">Celular</span>
                                            <span class="border"></span>
                                       </label>
        

                        </div>
        
                    </div>

                    <a class="link-btn link-btn-tab3">Continuar</a>
         
        </div>

        <div class="tab-page-3">
           
                <div class="row">

                        <div class="col-md-12 col-xs-12">
                                
                                <label for="inp" class="inp">
                                        <input type="text" id="inp" placeholder="&nbsp;">
                                        <span class="label">Endereço</span>
                                        <span class="border"></span>
                                      </label>
        
        
                                      <label for="inp" class="inp">
                                          <input type="text" id="inp" placeholder="&nbsp;">
                                          <span class="label">Número</span>
                                          <span class="border"></span>
                                      </label>
        
        
                                      <label for="inp" class="inp">
                                          <input type="text" id="inp" placeholder="&nbsp;">
                                          <span class="label">Bairro</span>
                                          <span class="border"></span>
                                      </label>
        
                                      <label for="inp" class="inp">
                                          <input type="text" id="inp" placeholder="&nbsp;">
                                          <span class="label">Cidade</span>
                                          <span class="border"></span>
                                      </label>


                        </div>
        
                    </div>

                    <a class="link-btn btn-finalizar">Finalizar</a>

        </div>



      </div>


</div>

<div class="screen-photo">
<h3>Documentos e Imagens
    <a class="close-screen-photo">X</a>
</h3>
    <div class="box-tile white">

            <div class="col-xs-6">
                <span> <img src="images/document_b.svg" alt=""> </span>        
            </div>

            <div class="col-xs-6">
                    <span> <img src="images/document_b.svg" alt=""> </span>         
            </div>

            <div class="col-xs-6">
                    <span> <img src="images/document_b.svg" alt=""> </span>          
                </div>
    
                <div class="col-xs-6">
                        <span> <img src="images/document_b.svg" alt=""> </span>          
                </div>

                <div class="col-xs-6">
                        <span> <img src="images/document_b.svg" alt=""> </span>        
                    </div>
        
                    <div class="col-xs-6">
                            <span> <img src="images/document_b.svg" alt=""> </span>         
                    </div>
        
                    <div class="col-xs-6">
                            <span> <img src="images/document_b.svg" alt=""> </span>          
                        </div>
            
                        <div class="col-xs-6">
                                <span> <img src="images/document_b.svg" alt=""> </span>          
                        </div>

                        <div class="col-xs-6">
                                <span> <img src="images/document_b.svg" alt=""> </span>        
                            </div>
                
                            <div class="col-xs-6">
                                    <span> <img src="images/document_b.svg" alt=""> </span>         
                            </div>
                
                            <div class="col-xs-6">
                                    <span> <img src="images/document_b.svg" alt=""> </span>          
                                </div>
                    
                                <div class="col-xs-6">
                                        <span> <img src="images/document_b.svg" alt=""> </span>          
                                </div>

                                <div class="col-xs-6">
                                        <span> <img src="images/document_b.svg" alt=""> </span>        
                                    </div>
                        
                                    <div class="col-xs-6">
                                            <span> <img src="images/document_b.svg" alt=""> </span>         
                                    </div>
                        
                                    <div class="col-xs-6">
                                            <span> <img src="images/document_b.svg" alt=""> </span>          
                                        </div>
                            
                                        <div class="col-xs-6">
                                                <span> <img src="images/document_b.svg" alt=""> </span>          
                                        </div>

                <div style="clear:both;"></div>

    </div>

<a class="btn-default">Capturar Imagem</a>

</div>


<div class="overlay-modal">
    <div class="modal-custom">
        <h3 class="header-modal">Cadastro Salvo com Sucesso!</h3>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
            <div class="modal-conteudo">
                <a href="#!meus_clientes" class="btn-default">Ir para os meus clientes</a>
            </div>
    </div>
</div>



<script src="js/jQuery-custom.js"></script>