<div class="row cadastro-customers" style="padding-top: 20px;">
    <div class="nav-tab-custom">
        <a class="tab-1 active">Cadastro</a>
        <a class="tab-2">Contatos</a>
        <a class="tab-3">Endereço</a>

    </div>

    <div class="tab-content">

        <div class="tab-page-1">

            <div class="row">

                <div class="buttons-pessoas">
                    <div class="col-xs-6 text-center">
                        <button class="input-pf active">Pessoa Física</button>
                    </div>

                    <div class="col-xs-6 text-center">
                        <button class="input-pj">Pessoa Jurídica</button>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">

                    <label for="inp" class="inp container-nome-cliente">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label razao-nome">Nome Completo</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label txt-cnpj-cpf">CPF</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label inscri-rg">RG</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Telefone Comercial</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Canal</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Segmento</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Bandeira</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="input-sel">
                        <select class="input-select">
                            <option value="" disabled selected hidden>Dia de atendimento</option>
                            <option>Segunda-feira</option>
                            <option>Terça-feira</option>
                            <option>Quarta-feira</option>
                            <option>Quinta-feira</option>
                            <option>Sexta-feira</option>
                            <option>Sábado</option>
                        </select>
                    </label>

                    <label for="inp" class="input-sel">
                        <select class="input-select">
                            <option value="" disabled selected hidden>Frequência de visita</option>
                            <option>Semanal</option>
                            <option>Quinzenal</option>
                        </select>
                    </label>

                    <label for="inp" class="input-sel">
                        <select class="input-select" id="pdv">
                            <option value="" disabled selected hidden>Está fisicamente no PDV?</option>
                            <option value="1">Sim</option>
                            <option value="2">Não</option>
                        </select>
                    </label>

                    <label for="inp" class="inp" hidden>
                        <input class="lat" type="text" id="inp" placeholder="&nbsp;" disabled>
                        <span class="label">Latitude</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp" hidden>
                        <input class="long" type="text" id="inp" placeholder="&nbsp;" disabled>
                        <span class="label">Longitude</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Time de Futebol</span>
                        <span class="border"></span>
                    </label>

                </div>

            </div>

            <a class="link-btn link-btn-tab2">Continuar</a>

        </div>

        <div class="tab-page-2">

            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <label for="inp" class="input-sel">
                        <select class="input-select">
                            <option value="" disabled selected hidden>Tipo</option>
                            <option>Proprietário</option>
                            <option>Fiel Depositário</option>
                            <option>Recebedor de Cheque</option>
                        </select>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Nome</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">CPF</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Telefone</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp-email" placeholder="&nbsp;">
                        <span class="label">E-mail</span>
                        <span class="border"></span>
                    </label>

                    <button type="button" class="btn btn-primary btn-novo-contato">Incluir contato adicional</button>

                </div>

            </div>

            <a class="link-btn link-btn-tab3">Continuar</a>
            <a class="link-btn btn-finalizar" style="display:none;">Finalizar</a>

        </div>

        <div class="tab-page-3">

            <div class="row">

                <div class="col-md-12 col-xs-12" style="margin-bottom:100px">

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">CEP</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Endereço</span>
                        <span class="border"></span>
                    </label>


                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Número</span>
                        <span class="border"></span>
                    </label>


                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Bairro</span>
                        <span class="border"></span>
                    </label>

                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label">Cidade</span>
                        <span class="border"></span>
                    </label>

                </div>

            </div>

            <a class="link-btn btn-finalizar">Finalizar</a>

        </div>
    </div>

</div>

<div class="overlay-requests">
</div>
<ul class="buttons-request">
    <li> <a href="#">Solic. inativação<img src="images/sales.svg" width="10px" alt=""> </a> &nbsp;&nbsp; </li>
    <li> <a href="#">Solic. alteração financeira<img src="images/sales.svg" width="10px" alt=""> </a> &nbsp;&nbsp; </li>
    <li> <a href="#">Solic. recolha de comodatos<img src="images/sales.svg" width="10px" alt=""> </a> &nbsp;&nbsp; </li>
</ul>

<div class="overlay-modal overlay">
    <div class="modal-custom">
        <h3 class="header-modal">Cadastro Salvo com Sucesso!</h3>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <p style="text-align: center;">As informações de localização e coordenadas foram armazenadas.</p>
        <div class="modal-conteudo">
            <a href="#!meus_clientes" class="btn-default">Ir para os meus clientes</a>
        </div>
    </div>
</div>

<div id="warning" class="overlay-modal overlay-warning">
    <div class="modal-custom">
        <h3 class="header-modal">Você não informou um<br>e-mail</h3>
        <img src="images/warning.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <p style="text-align: center;">Insira um e-mail para contato ou clique em continuar</p>
        <div class="modal-conteudo">
            <a class="link-btn link-btn-tab3-accept">Continuar</a>
        </div>
    </div>
</div>



<script src="js/jQuery-custom.js"></script>