<div class="row cadastro-customers" style="padding-top: 20px;">
    <div class="nav-tab-custom">
        <a class="tab-1 active">Cadastro</a>
        <a class="tab-2">Contatos</a>
        <a class="tab-3">Endereço</a>
        
    </div>
      
      <div class="tab-content">
       
        <div class="tab-page-1">
            
            <div class="row">

                <div class="col-md-12 col-xs-12">
	                    <div class="box-tile white">
                        
                            {{titulo}}
                        
                        </div>
                </div>

            </div>

            <a href="#!cadastro_clientes" class="link-btn">Continuar</a>

        </div>

        <div class="tab-page-2">
         
                <div class="row">

                        <div class="col-md-12 col-xs-12">
                                <div class="box-tile white">
                                
                                
                                </div>
                        </div>
        
                    </div>

                    <a href="#!cadastro_clientes" class="link-btn">Continuar</a>
         
        </div>

        <div class="tab-page-3">
           
                <div class="row">

                        <div class="col-md-12 col-xs-12">
                                <div class="box-tile white">
                                
                                
                                </div>
                        </div>
        
                    </div>

                    <a href="#!cadastro_clientes" class="link-btn">Finalizar</a>

        </div>



      </div>


</div>

<script src="js/jQuery-custom.js"></script>