<div class="info-cliente">
    <p>Nome do Cliente</p>
    <p>012354687</p>
</div>

<div class="gerar-pedido carrinho" style="padding-top:70px;">

    <div class="row" style="position:relative">

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">

                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava - Lata</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>

                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-6 edit-product ">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon">+</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="01">
                                <div class="input-group-addon">-</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-6 edit-product">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon">+</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="01">
                                <div class="input-group-addon">-</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava Premium</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-6 edit-product">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon">+</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="01">
                                <div class="input-group-addon">-</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/04.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                            <div class="row" style="margin-top: 15px;">

                                    <div class="col-xs-7" style="padding:0;">
                                            <p class="name">Itaipava GO Draft</p>
                                            <p class="cnpj">001234458741</p>
                                    </div>
        
                                    <div class="col-xs-5 text-right" style="padding:0;">
                                            <p class="preco">R$ 0,00</p>
                                            <p class="estoque">Estoque: 41547</p>
                                    </div>
        
                                </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-6 edit-product">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon">+</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="01">
                                <div class="input-group-addon">-</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </a>
        

    </div>

</div>
<br> <br> <br> <br><br> <br> <br> <br>

<a href="" class="btn-default btn-formas-pagto">FORMAS DE PAGAMENTO</a>

<div class="overlay-modal overlay-modal-edit">
    <div class="modal-custom modal-select-pedidos">

        <a class="close-modal"> X</a>

        <div class="config-product">

            <p> <strong>001234458741</strong> </p>
            <p>Itaipava - Lata</p>

            <input type="text" name="qtde" value="40" placeholder="40">
            <input type="text" name="value" value="R$ 0,00" placeholder="R$ 0,00">
            <p class="txt-min">Tabela 0 - AS ROTAS de R$ 80,09 à R$ 144,41</p>
            <p class="txt-estoque">Estoque: 5524</p>
            <p class="txt-min2">(Saldo antes R$ 0,00 depois R$ 0,00)</p>

            <a class="btn-default add-product-sum"> ADICIONAR </a>

        </div>

    </div>
</div>

<div class="overlay-modal overlay-modal-delete">
    <div class="modal-custom modal-select-pedidos">

        <a class="close-modal"> X</a>

        <div class="config-product">

            <img src="images/delete.svg" alt="" style="width: 50px; display: block; margin: 10px auto 20px;">

            <p> Deseja deletar o produto abaixo? </p>
            <p> <strong>001234458741</strong> </p>
            <p>Itaipava - Lata</p>

            <div class="btn-actions">
                <a class="btn-default"> CANCELAR </a>
                <a class="btn-default"> DELETAR </a>
            </div>

            <div style="clear:both;"></div>

        </div>

    </div>
</div>