<div class="info-cliente">

    <div class="row">

        <div class="col-xs-7 text-left">
            <p>Nome do Cliente</p>
            <p>012354687</p>
        </div>

        <div class="col-xs-5 text-right">
            <p>Total: R$ 1.254,00</p>
            <p style="font-size: 9px; color:#4CAF50;">Limite de crédito: 2500,00</p>
            <p>4 Itens</p>
        </div>

    </div>

</div>

<div class="gerar-pedido carrinho" style="padding-top:80px;">

    <div class="row" style="position:relative">

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 100%;" alt="">

                    </div>

                    <div class="col-xs-10">

                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava - Lata</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>

                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-7 edit-product ">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon remove1">-</div>
                                <input type="text" class="form-control" id="exampleInputAmount1" value="1">
                                <div class="input-group-addon adc1">+</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-5 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 100%;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-7 edit-product ">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon remove2">-</div>
                                <input type="text" class="form-control" id="exampleInputAmount2" value="1">
                                <div class="input-group-addon adc2">+</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-5 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>

                </div>
            </div>
        </a>

         <!--  Card Product  -->
         <a>
                <div class="col-xs-12 card-product comodato">
                    <div class="box-tile box-product white">
    
                        <div class="col-xs-2" style="padding:0;">
    
                            <img src="brindes/comodato2.jpg" style="width: 100%;" alt="">
    
                        </div>
    
                        <div class="col-xs-10">
                            <div class="row" style="margin-top: 15px;">
    
                                <div class="col-xs-7" style="padding:0;">
                                    <p class="name">Vasilhame 600 ml</p>
                                    <p class="cnpj">001234458741</p>
                                </div>
    
                                <div class="col-xs-5 text-right" style="padding:0;">
                                    <p class="estoque">Estoque: 100125</p>
                                </div>
    
                            </div>
                        </div>
    
                        <div style="clear:both"></div>
    
                        <div class="col-xs-7 edit-product ">
    
                            <div class="form-group">
                                <label class="sr-only"></label>
                                <div class="input-group">
                                    <div class="input-group-addon remove3">-</div>
                                    <input type="text" class="form-control" id="exampleInputAmount3" value="24">
                                    <div class="input-group-addon adc3">+</div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="col-xs-5 text-right">
                            <span class="delete-product">
                                <img src="images/delete.svg" alt="" style="width: 20px;">
                            </span>
                        </div>
    
                    </div>
                </div>
            </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 100%;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava Premium</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-7 edit-product ">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon remove4">-</div>
                                <input type="text" class="form-control" id="exampleInputAmount4" value="1">
                                <div class="input-group-addon adc4">+</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-5 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/04.jpg" style="width: 100%;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <div class="row" style="margin-top: 15px;">

                            <div class="col-xs-7" style="padding:0;">
                                <p class="name">Itaipava GO Draft</p>
                                <p class="cnpj">001234458741</p>
                            </div>

                            <div class="col-xs-5 text-right" style="padding:0;">
                                <p class="preco">R$ 0,00</p>
                                <p class="estoque">Estoque: 41547</p>
                            </div>

                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-7 edit-product ">

                        <div class="form-group">
                            <label class="sr-only"></label>
                            <div class="input-group">
                                <div class="input-group-addon remove5">-</div>
                                <input type="text" class="form-control" id="exampleInputAmount5" value="1">
                                <div class="input-group-addon adc5">+</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-5 text-right">
                        <span class="delete-product">
                            <img src="images/delete.svg" alt="" style="width: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </a>


    </div>

</div>
<br> <br> <br> <br><br> <br> <br> <br>

<a href="#!formas_pagamento" class="btn-default btn-formas-pagto">AVANÇAR</a>

<div class="overlay-modal overlay-modal-edit">
    <div class="modal-custom modal-select-pedidos">

        <a class="close-modal"> X</a>

        <div class="config-product">

            <p> <strong>001234458741</strong> </p>
            <p>Itaipava - Lata</p>

            <input type="text" name="qtde" value="0" placeholder="0">
            <input type="text" name="value" value="R$ 0,00" placeholder="R$ 0,00">
            <p class="txt-min">Tabela 0 - AS ROTAS de R$ 80,09 à R$ 144,41</p>
            <p class="txt-estoque">Estoque: 5524</p>
            <p class="txt-min2">(Saldo antes R$ 0,00 depois R$ 0,00)</p>

            <a class="btn-default add-product-sum"> ADICIONAR </a>

        </div>

    </div>
</div>

<div class="overlay-modal overlay-modal-delete">
    <div class="modal-custom">

        <a class="close-modal"> X</a>

        <div class="config-product">

            <img src="images/delete.svg" alt="" style="width: 50px; display: block; margin: 10px auto 20px;">

            <p> Deseja remover o produto abaixo? </p>
            <p> <strong>001234458741</strong> </p>
            <p>Itaipava - Lata</p>

            <div class="btn-actions">
                <a class="btn-default"> CANCELAR </a>
                <a class="btn-default"> DELETAR </a>
            </div>

            <div style="clear:both;"></div>

        </div>

    </div>
</div>