<div class="row grid-produtos" style="padding-top: 20px;">
	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/01.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava - Lata</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/02.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/03.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava Premium</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/04.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava GO Draft</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/05.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava Premium</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/06.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Energético TNT</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/07.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Cerveja Petra</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/01.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava - Lata</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/02.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/03.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava Premium</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/04.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava GO Draft</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/05.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Itaipava Premium</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/06.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Energético TNT</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>

	<!--  Card Product  -->
	<a>
		<div class="col-xs-12 card-product">
			<div class="box-tile box-product white">

				<div class="col-xs-3" style="padding:0;">

					<img src="produtos/07.jpg" style="width: 70px;" alt="">

				</div>

				<div class="col-xs-9">
					<p class="name">Cerveja Petra</p>
					<p class="cnpj">001234458741</p>
				</div>

				<div style="clear:both"></div>

			</div>
		</div>
	</a>


</div>

<a class="float-button-grid">

</a>