<div class="cep-cadastro row">
  <div class="col-xs-6 text-center">
    <label class="input-pf">
      <input name="radio-pessoa" type="radio" value="">Pessoa Física
    </label>
  </div>

  <div class="col-xs-6 text-center">
    <label class="input-pj">
      <input name="radio-pessoa" type="radio" value="">
      Pessoa Jurídica
    </label>
  </div>

  <div class="col-xs-12 text-center" style="margin-top: 40px;">

    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Digite o CEP do Cliente</span>
      <span class="border"></span>
    </label>

  </div>

</div>

<a href="#!cadastro_clientes" class="link-btn">Continuar</a>