<div class="row" style="margin-top: 15px;">
	<div class="col-md-12 col-xs-12">
		<div class="box-tile white" style="padding: 10px;">
			<div class="col-xs-7" style="padding-left: 5px;">
				Tipo do Produto
			</div>
			<div class="col-xs-5 text-right" style="padding-right: 5px;">

				<div class="row">
					<div class="col-xs-8 text-left">Total</div>
					<div class="col-xs-4 text-right">0</div>

					<div class="col-xs-8 text-left">Pendente</div>
					<div class="col-xs-4 text-right">0</div>
				</div>

			</div>
			<div style="clear:both"></div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 15px;">
	<div class="col-md-12 col-xs-12">
		<div class="box-tile white" style="padding: 10px;">

			<ul class="list-notes">

				<li>
					<div class="row">
						<div class="col-xs-6">Bom</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="sr-only"></label>
								<div class="input-group">
									<div class="input-group-addon btn-remove">-</div>
									<input type="text" class="form-control input-value" id="exampleInputAmount5" value="0">
									<div class="input-group-addon btn-add">+</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="row">
						<div class="col-xs-6">Regular</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="sr-only"></label>
								<div class="input-group">
									<div class="input-group-addon remove5">-</div>
									<input type="text" class="form-control" id="exampleInputAmount5" value="0">
									<div class="input-group-addon adc5">+</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="row">
						<div class="col-xs-6">Ruim</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="sr-only"></label>
								<div class="input-group">
									<div class="input-group-addon remove5">-</div>
									<input type="text" class="form-control" id="exampleInputAmount5" value="0">
									<div class="input-group-addon adc5">+</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="row">
						<div class="col-xs-6">Quebrado</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="sr-only"></label>
								<div class="input-group">
									<div class="input-group-addon remove5">-</div>
									<input type="text" class="form-control" id="exampleInputAmount5" value="0">
									<div class="input-group-addon adc5">+</div>
								</div>
							</div>
						</div>
					</div>
				</li>

			</ul>

			<div style="clear:both"></div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 15px;">
	<div class="col-md-12 col-xs-12">
		<div class="box-tile white" style="padding: 10px;">

			<textarea name="comentarios" id="comentarios-notes" rows="2" placeholder="Comentários"></textarea>

			<div style="clear:both"></div>
		</div>
	</div>
</div>