<div class="gerar-pedido">
    
    <div style="clear:both; height: 30px;"></div>

    <div class="row" style="position:relative">

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="brindes/comodato2.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name-comodato">Vasilhame 600 ml</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="brindes/comodato3.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name-comodato">Vasilhame Litrão</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="brindes/comodato4.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name-comodato">Chopeira Simples</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="brindes/comodato5.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name-comodato">Mesa com cadeiras</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="brindes/comodato6.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <span class="name-comodato">Caixa engradado 600ml</span>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>


    </div>
    
    <div style="clear:both; height: 50px;"></div>

</div>

<a class="btn-recolha">Solicitar Recolha</a>

<div class="overlay-comodato">
    
</div>
<div class="buttons-comodato">
    <h4 style="margin-left: 10px;text-align: center;">Deseja solicitar a recolha do comodato?</h4>
    <br>
    <button style="margin-left: 10px;margin-right: 5px;" class="btn-contrato btn-sim-contrato">SIM</button>
    <button class="btn-contrato btn-nao-contrato">NÃO</button>
<br>
<br>
</div>