<div class="row">

    <div ng-include="'include/fragment_comodato.html'"></div>

</div>

<a href="#!comodato_item_notes" class="float-button button-pedidos">
    <img src="images/magnifying-glass-with-check-mark.svg" alt="" style="margin-top: 15px; margin-left: 15px;">
</a>

<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#">Consignações em Aberto</a> </li>
</ul> 