<div class="row grid-requests" style="padding-top: 20px;">
	<div class="tab-content tab-meus-pedidos meus-pedidos-show">
		<div class="tab-page-1">
			<div class="row">
				<div ng-include="'include/fragment_consignacoes.html'"></div>
			</div>
		</div>
	</div>
</div>

<a href="#!detalhe_consignados" class="float-button">
	<img src="images/earning.svg" alt="" style="margin-top: 15px; margin-left: 15px;">
</a>

<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>