<div class="contas-receber-screen">
    <div class="linha-sku-header box-tile white">
        <div class="col-xs-6">Versão 2019.3</div>
        <div class="col-xs-6 text-right">11 Abril, 2019</div>
        <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
    </div>

    <div class="box-general">
        <h2><img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;"> Valores por
            Situação</h2>

        <div class="box-tile white" style="margin-top: 15px;">
            <p>TT Vencidos e Não Vencidos</p>
            <p class="value text-right" style="margin-bottom: 0;">R$ 387.987,62</p>

        </div>

        <div class="box-tile white" style="margin-top: 15px;">
            <p>Somente Não Vencidos</p>
            <p class="value text-right" style="margin-bottom: 0;">R$ 356.152,01</p>

        </div>

        <div class="box-tile white" style="margin-top: 15px;">
            <p>Somente Vencidos</p>
            <p class="value text-right" style="margin-bottom: 0;">R$ 31.835,61</p>

        </div>
    </div>

    <div class="box-general">
        <h2><img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;"> Vencidos por
            Período</h2>

        <div class="box-tile white" style="margin-top: 15px;">
            <p>Vencidos até 30 Dias</p>
            <p class="value text-right" style="margin-bottom: 0;">R$ 21.168,52</p>
        </div>

        <div class="box-tile white" style="margin-top: 15px;">
            <p>Vencidos Acima de 60 Dias</p>
            <p class="value text-right" style="margin-bottom: 0;">R$ 10.167,09</p>
        </div>

    </div>


</div>