<div class="info-cliente pedido-screen-ok">
    <div class="row">
        <div class="col-xs-7 text-left">
            <p>Nome do Cliente</p>
            <p>012354687</p>
        </div>
        <div class="col-xs-5 text-right">
            <p>Total: R$ 1.254,00</p>
            <p>4 Itens</p>
        </div>
    </div>
</div>

<div class="gerar-pedido formas-pagamento" style="padding-top:70px;">

    <div class="row line-traking">
        <span class="line-hor-trak"> <div class="value-trak"></div> </span>
        <ul>
            <li> <span>Enviado</span> </li>
            <li style="background: #ccc;"> <span>Validado</span> </li>
            <li style="background: #ccc;"> <span>Faturado</span> </li>
            <li style="background: #ccc;" class="gray-cl"> <span>Em Transito</span> </li>
            <li style="background: #ccc;" class="gray-cl"> <span>Entregue</span> </li>
        </ul>

    </div>

    <div class="row alerta-home" style="margin-bottom: 15px;">
        <div>
            <div style="height: auto;" class="box-tile white text-center alerta-green">  
                LIBERADO
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-tile white data-entrega status-pago" style="height:auto; margin-bottom: 15px;">

            <div class="data-input">
                <div class="row">
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Data de entrega:</label>
                        <label><strong>19/02/2019</strong></label>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Pagamento:</label>
                        <label><strong>Dinheiro</strong></label>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Número Pedido (Cliente):</label>
                        <label><strong>41542189</strong></label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="box-tile white detalhes-pedido" style="height:auto;">

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava - Lata</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 200,00</p>
                    <p class="preco">10 caixas</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 30,00</p>
                    <p class="preco">3 caixas</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava Premium</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 154,00</p>
                    <p class="preco">2 caixas</p>
                </div>

            </div>

            <hr>

            <div class="row comodato">

                <div class="col-xs-7">
                    <p class="name">Vasilhame 600 ml</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">-</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava GO Draft</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 630,00</p>
                    <p class="preco">3 caixas</p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="overlay-requests">

</div>
<a class="float-button" id="btn_open_comodato_ok">
    <img src="images/add.svg" alt="" style="margin-left: 15px; margin-top: 15px;">
</a>

<!-- MODAL DETALHES -->

<div class="overlay-modal modal-recolher-confirm open-add-comodato">
    <div class="modal-custom" style="margin-top:50px;">
        <a class="close-modal close-recolher"> X</a>

        <h4 class="text-center">Adicionar comodato</h4>
        <p class="text-center">Deseja adicionar os itens abaixo?</p>

        <div class="box-tile consignados-itens white">
            <ul id="modal_recolher_list">
                <div class="row" style="position:relative">
                    <!--  Card Product  -->
                    <li>
                        <div class="col-xs-12 card-product">
                            <div class="box-tile box-product white" style="padding: 5px;height: 75px;position: relative;">
                                <div class="col-xs-2">
                                    <img src="brindes/comodato2.jpg" style="width: 55px;" alt="">
                                </div>
                                <div class="col-xs-6">
                                    <p class="name name-bonificacao" style="font-size: 13px;margin-left: 10px">Garrafa 300ml</p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="number" style="margin-top: 15px;" placeholder="Qtd.">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  Card Product  -->
                    <li>
                        <div class="col-xs-12 card-product">
                            <div class="box-tile box-product white" style="padding: 5px;height: 75px;position: relative;">
                                <div class="col-xs-2" style="padding:0;">
                                    <img src="brindes/comodato6.jpg" style="width: 55px;" alt=""></div>

                                <div class="col-xs-6">
                                    <p class="name name-bonificacao" style="font-size: 13px;margin-left: 10px">Garrafeira Itaipava 300ml</p>
                                </div>
                                <div class="col-xs-4">
                                    <input type="number" style="margin-top: 15px;" placeholder="Qtd.">
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </li>

                </div>
            </ul>
        </div>
        <a class="btn-default btn-comprovante"> ADICIONAR </a>
    </div>
</div>

<div class="overlay-modal overlay-finalizar" style="display:none;">
    <div class="modal-custom">
        <h3 class="header-modal" style="font-size: 18px;">Pedido de comodato realizado!</h3>
        <p class="text-center">Comodato: <strong>012345678</strong></p>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <div class="modal-conteudo">
            <a href="#!/historico_pedidos" class="btn-default">Fechar e voltar</a>
        </div>
    </div>
</div>

<ul class="buttons-request-alt" id="modal_Det_Ped_Blq">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!comodatos_barril">Recolha (Barril e Cilindro) </a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>
