<div class="row detail-customers" style="padding-top: 20px;">

    <h2>{{titulo}}</h2>

    <div class="container" ng-app="tabApp">
        <div class="row" ng-controller="TabController">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                 <li ng-class="{ active: isSet(1) }">
                    <a href ng-click="setTab(1)">Home</a>
                 </li>
                 <li ng-class="{ active: isSet(2) }">
                    <a href ng-click="setTab(2)">Profile</a>
                 </li>
                 <li ng-class="{ active: isSet(3) }">
                    <a href ng-click="setTab(3)">Messages</a>
                 </li>
               </ul>
            </div>
          <div class="col-md-8">
                <div class="jumbotron">
                 <div ng-show="isSet(1)">
                    <h1>Home page</h1>
                    <p>Welcome to the website!</p>
                    <p><a class="btn btn-primary btn-lg" 			role="button">Learn more</a></p>
                  </div>
                  <div ng-show="isSet(2)">
                <h1>Profile page</h1>
                <p>Profile information</p>
               </div>
              <div ng-show="isSet(3)">
                <h1>Messages</h1>
                <p> Some messages </p>
               </div>
            </div>
        </div>
      </div>


</div>