<div class="row detail-customers" style="padding-top: 20px;">

    <h2>{{titulo}}</h2>

    <div class="nav-tab-custom">
        <a class="tab-1 active">Minuto de Ouro</a>
        <a class="tab-2">Cadastro</a>
        <a class="tab-3">Contatos</a>
        <a class="tab-4">Endereço</a>
        
    </div>
      
      <div class="tab-content">
       
        <div class="tab-page-1">
            Tab Page 1
        </div>

        <div class="tab-page-2">
            Tab Page 2
        </div>

        <div class="tab-page-3">
            Tab Page 3
        </div>

        <div class="tab-page-4">
            Tab Page 4
        </div>



      </div>


</div>