<div class="info-cliente">
    <div class="row">
        <div class="col-xs-7 text-left">
            <p>Nome do Cliente</p>
            <p>012354687</p>
        </div>
        <div class="col-xs-5 text-right">
            <p>Total: R$ 1.254,00</p>
            <p>4 Itens</p>
        </div>
    </div>
</div>

<div class="gerar-pedido formas-pagamento" style="padding-top:70px;">

    <div class="row">
        <div class="box-tile white data-entrega" style="height:auto; margin-bottom: 15px;">

            <div class="data-input">
                <div class="row">
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Data de entrega:</label>
                        <label><strong>19/02/2019</strong></label>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Pagamento:</label>
                        <label><strong>Dinheiro</strong></label>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Número Pedido (Cliente):</label>
                        <label><strong>41542189</strong></label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="box-tile white detalhes-pedido" style="height:auto;">

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava - Lata</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 0,00</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 0,00</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava Premium</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 0,00</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava GO Draft</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 0,00</p>
                </div>

            </div>

        </div>
    </div>
</div>

<a class="btn-default btn-formas-pagto btn-finalizar-pedido">FINALIZAR PEDIDO</a>

<div class="overlay-modal overlay-finalizar-pedido">
    <div class="modal-custom">
        <h3 class="header-modal">Pedido Realizado com Sucesso!</h3>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <div class="modal-conteudo">
            <a href="#!meus_pedidos" class="btn-default">Ir para os meus pedidos</a>
        </div>
    </div>
</div>