<div class="row detail-customers" style="padding-top: 20px;">
    <div class="nav-tab-custom">
        <a class="tab-1 active">Minuto de Ouro</a>
        <a class="tab-2">Cadastro</a>
        <a class="tab-3">Contatos</a>
        <a class="tab-4">Endereço</a>
        
    </div>
      
      <div class="tab-content">
       
        <div class="tab-page-1">
            
            <div class="row">

                <div class="col-md-12 col-xs-12">
	                    <div class="box-tile inadimplencia-acumulada white">
                            <div class="col-xs-8" style="padding-left: 5px;">
                                <p class="label-lbl">Inadimplência Acumulada</p>
                                <p class="value">R$ 0,00</p>
                            </div>
                            <div class="col-xs-4 text-right" style="padding-right: 5px;">
                                <img src="images/smile.svg" style="width: 55px" alt="">
                            </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-xs-12">
	                    <div class="box-tile limite-disponivel white">
                            
                                <div class="col-xs-4 text-left" style="padding-left: 5px;">
                                        <img src="images/money.svg" style="width: 55px" alt="">
                                    </div>

                                <div class="col-xs-8 text-right" style="padding-right: 5px;">
                                        <p class="label-lbl">Limite Disponível</p>
                                        <p class="value">R$ 288,72</p>
                                    </div>

                                        <div class="other-values">

                                    <div class="col-xs-6 text-left" style="padding-left: 5px;">
                                            <p class="label-lbl">Credito Utilizado</p>
                                            <p class="value">R$ 1000,00</p>
                                        </div>

                                        <div class="col-xs-6 text-right" style="padding-right: 5px;">
                                                <p class="label-lbl">Limite Total</p>
                                                <p class="value">R$ 1288,72</p>
                                            </div>
                                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-xs-6" style="padding-right: 10px;">
	                    <div class="box-tile items-medio-pedido white text-center">
                                <p class="label-lbl">Itens Médio<br>Pedido (3 meses)</p>
                                <p class="value">R$ 0,00</p>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6" style="padding-left: 10px;">
                    <div class="box-tile formas-pagamento white text-center">
                            <p class="label-lbl">Formas de <br>Pagamento</p>
                            <img src="images/credit-card.svg" style="width: 40px" alt="">
                            <p class="label-lbl">Cartões de Debito, Credito e a Vista</p>
                            
                </div>
            </div>

            </div>

            <div class="row">

                    <div class="col-md-6 col-xs-6" style="padding-right: 10px;">
                            <div class="box-tile ultima-entrega white text-center">
                                    <p class="label-lbl">Última Entrega</p>
                                    <img src="images/verified.svg" style="width: 40px" alt="">
                                    <p class="label-lbl" style="color: #93dc5d;">Entregue: <br>24/04/2004</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-xs-6" style="padding-left: 10px;">
                        <div class="box-tile formas-pagamento white text-center">
                                <p class="label-lbl">Ação Aprovada</p>
                                
                                <p class="label-lbl">-</p>
                                
                    </div>
                </div>
    
                </div>


        </div>

        <div class="tab-page-2">
            
            <div class="row">
                <div class="col-xs-12 cadastro">

                        <p class="label-lbl">CNPJ</p>
                        <p class="label-lbl-value">14.400.400/0001-00</p>

                        <p class="label-lbl">Razão Social</p>
                        <p class="label-lbl-value">Lanchonete ABC Ltda.</p>

                        <p class="label-lbl">Inscrição Estadual</p>
                        <p class="label-lbl-value">44201521478</p>

                        <p class="label-lbl">Telefone Comercial</p>
                        <p class="label-lbl-value">11 3547-9875</p>

                </div>
            </div>

        </div>

        <div class="tab-page-3">
            Tab Page 3
        </div>

        <div class="tab-page-4">
            Tab Page 4
        </div>



      </div>


</div>

<script src="js/jQuery-custom.js"></script>