<div class="info-cliente">
    <div class="row">
        <div class="col-xs-7 text-left">
            <p>Nome do Cliente</p>
            <p>012354687</p>
        </div>
        <div class="col-xs-5 text-right">
            <p>Total: R$ 1.254,00</p>
            <p>4 Itens</p>
        </div>
    </div>
</div>

<div class="gerar-pedido formas-pagamento" style="padding-top:70px; color: #00000059;">

    <div class="row line-traking bloq-traking">
        <span class="line-hor-trak"> <div class="value-trak value-bloq"></div> </span>
        <ul>
            <li> <span>Realizado</span> </li>
            <li style="background: #ccc !important;"> <span>Faturado</span> <i class="no-x">X</i> </li>
            <li style="background: #ccc !important;" class="gray-cl"> <span>Em Transito</span><i class="no-x">X</i> </li>
            <li style="background: #ccc !important;" class="gray-cl"> <span>Entregue</span> <i class="no-x">X</i> </li>
        </ul>

    </div>

    <div class="row alerta-home" style="margin-bottom: 15px;">
        <div>
            <div style="height: auto;" class="box-tile white text-center alerta-yellow">  
                BLOQUEADO - Inadimplência
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-tile white data-entrega status-pendente" style="height:auto; margin-bottom: 15px;">

            <div class="data-input">
                <div class="row">
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Data de entrega:</label>
                        <label><strong>19/02/2019</strong></label>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Pagamento:</label>
                        <label><strong>Dinheiro</strong></label>
                    </div>
                    <div class="col-xs-12 text-left" style="margin-bottom: 0px;">
                        <label>Número Pedido (Cliente):</label>
                        <label><strong>41542189</strong></label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="box-tile white detalhes-pedido" style="height:auto;">

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava - Lata</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 200,00</p>
                    <p class="preco">10 caixas</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 30,00</p>
                    <p class="preco">3 caixas</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava Premium</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 154,00</p>
                    <p class="preco">2 caixas</p>
                </div>

            </div>

            <hr>

            <div class="row comodato">

                <div class="col-xs-7">
                    <p class="name">Vasilhame 600 ml</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">-</p>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-7">
                    <p class="name">Itaipava GO Draft</p>
                    <p class="cnpj">001234458741</p>
                </div>

                <div class="col-xs-5 text-right">
                    <p class="preco">R$ 630,00</p>
                    <p class="preco">3 caixas</p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="overlay-requests">

</div>
<a class="float-button" id="btn_open_comodato_blq">

    <img src="images/add.svg" alt="" style="margin-left: 15px; margin-top: 15px;">

</a>
<ul class="buttons-request-alt" id="modal_Det_Ped_Blq">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!comodatos_barril">Recolha (Barril e Cilindro) </a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>