<div class="row detail-consignados" style="padding-top: 20px;">

    <div class="col-xs-12">
        <div class="box-tile consignados-itens white">

            <ul>
                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">Itaipava 600ml</span> </div>
                        <div class="col-xs-3 text-center"> <span>2CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">Itaipava Premium 600ml</span> </div>
                        <div class="col-xs-3 text-center"> <span>4CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">Itaipava Go Draft 1L</span> </div>
                        <div class="col-xs-3 text-center"> <span>8CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">TNT lata Red</span> </div>
                        <div class="col-xs-3 text-center"> <span>10CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">Itaipava 600ml</span> </div>
                        <div class="col-xs-3 text-center"> <span>2CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">Itaipava Premium 600ml</span> </div>
                        <div class="col-xs-3 text-center"> <span>4CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">Itaipava Go Draft 1L</span> </div>
                        <div class="col-xs-3 text-center"> <span>8CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-6"> <span class="truncate">TNT lata Red</span> </div>
                        <div class="col-xs-3 text-center"> <span>10CX</span> </div>
                        <div class="col-xs-3"> <input type="text"> </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>

</div>

<div class="buttons-action-consignados">

    <div class="col-xs-6"> <a class="btn-consignados-recolher">FINALIZAR</a> </div>
    <div class="col-xs-6"> <a class="btn-consignados-faturar">VENDER</a> </div>

</div>



<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>

<!-- MODAL FATURAR -->
<div class="overlay-modal modal-faturar">
    <div class="modal-custom" style="margin-top:50px;">
        <a class="close-modal close-faturar"> X</a>

        <div class="row titulo-produto-consignado" style="margin-bottom: 10px;">
            <div class="col-xs-9"> <span class="truncate"> Itaipava 600ml</span></div>
            <div class="col-xs-3 text-right">10CX</div>
        </div>

        <div class="row" style="margin-bottom: 5px;">
            <div class="col-xs-8 text-right"> <span class="truncate"> Vender</span></div>
            <div class="col-xs-4 text-right"> <input type="text"> </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-8 text-right"> <span class="truncate"> Bonificar</span></div>
            <div class="col-xs-4 text-right"> <input type="text"> </div>
        </div>


    <div class="row">
        <div class="box-tile white" style="height:auto; margin-bottom: 15px;">
            <div class="row tipos-pagamento">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquise a forma de pagamento...">
                <ul id="tipos-pagamento">
                    <li><a>Dinheiro</a></li>
                    <li><a>Cheque à Vista</a></li>
                    <li><a>Cheque 7 dias</a></li>
                    <li><a>Boleto 7 dias</a></li>
                    <li><a>Boleto 14 dias</a></li>
                    <li><a>Nota assinada 21 dias</a></li>
                </ul>
            </div>
        </div>
    </div>
       

        <a class="btn-default btn-comprovante btn-faturar"> VENDER </a>

    </div>
</div>

<!-- MODAL RECOLHER -->

<div class="overlay-modal modal-recolher">
    <div class="modal-custom" style="margin-top:50px;">
        <a class="close-modal close-recolher"> X</a>

        <h4 class="text-center">Recolha de Produto</h4>
        <p class="text-center">Deseja realmente recolher os itens abaixo:</p>

        <div class="box-tile consignados-itens white">

            <ul>
                <li>
                    <div class="row">
                        <div class="col-xs-9"> <span class="truncate">Itaipava 600ml</span> </div>
                        <div class="col-xs-3 text-right"> <span>2CX</span> </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-9"> <span class="truncate">Itaipava Premium 600ml</span> </div>
                        <div class="col-xs-3 text-right"> <span>4CX</span> </div>
                   </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-xs-9"> <span class="truncate">Itaipava Go Draft 1L</span> </div>
                        <div class="col-xs-3 text-right"> <span>8CX</span> </div>
                    </div>
                </li>

                

            </ul>

        </div>
       

        <a class="btn-default btn-comprovante btn-recolher"> FINALIZAR </a>

    </div>
</div>


<div class="overlay-modal overlay-finalizar">
    <div class="modal-custom">
        <h3 class="header-modal">Pedido Realizado com Sucesso!</h3>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <div class="modal-conteudo">
            <a href="#!/consignacoes" class="btn-default" style="margin-top: 20px;">Voltar</a>
        </div>
    </div>
</div>