<div class="modal-remuneracao-variavel ruptura-mode">
        <div class="linha-sku-header box-tile white">
                <div class="col-xs-6">Versão 2019.3</div>
                <div class="col-xs-6 text-right">11 Abril, 2019</div>
                <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
        </div>
    <ul class="list-group list-group-flush list-group-box">
        <li class="list-group-item " style="height: 90px">
            <div class="col-xs-6">
                <p class="text-left">Realizado</p>
            </div>
            <div class="col-xs-6">
                <p class="text-right">Meta</p>
            </div>
            <div class="col-xs-12">
                <div class="progress-bar-vrl">
                    <div class="remuneracao_10 green"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <p class="text-left faturamento-preco-linha">112.332,02</p>
            </div>
            <div class="col-xs-6">
                <p class="text-right faturamento-preco-linha">602.248,43</p>
            </div>
        </li>
        <li class="list-group-item light-grey" style="height: 80px">
            <div class="col-xs-6">
                <p class="text-left">Diferença</p>
            </div>
            <div class="col-xs-6">
                <p class="text-right">Meta Dia</p>
            </div>

            <div class="col-xs-5">
                <p class="text-left faturamento-preco-linha">-489.916,41</p>
            </div>
            <div class="col-xs-7">
                <p class="text-right faturamento-preco-linha text-red"><img src="images/thumb-down.svg" height="20px"
                        alt=""> -30.619,78</p>
            </div>
        </li>
    </ul>
    <div class="linha-faturamento">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-tile white accordeon-default accordeon-01 accordeon-faturamento">
                    <div class="accordeon-faturamento-header row">
                        <div class="col-xs-1 action-accordeon-01">
                            <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                        </div>
                        <div class="col-xs-6">
                            <p>Linha a Linha</p>
                        </div>
                        <div class="col-xs-4" style="margin-left: 20px">
                            <p class="text-right">0,00%</p>
                        </div>
                    </div>
                    <div class="accordeon-faturamento-body">
                        <div class="col-xs-8">
                            <p class="text-left">Linhas com Meta</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-right">87</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="text-left">Linhas com Meta Batida</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-right">0</p>
                        </div>
                        <div class="col-xs-8">
                            <p class="text-left">Linhas Zeradas</p>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-right">10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        1150 - Cerv Itaipava Premiun Ln 355ml Cx12
                    </div>
                    <div class="col-xs-12">
                        <img src="images/chart_fisrt.png" style="width: 100%">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        1150 - Cerv Pilsen Ln 355ml Cx12
                    </div>
                    <div class="col-xs-12">
                        <img src="images/chart_sec.png" style="width: 100%">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        1150 - Cerv Itaipava Premiun Ln 473ml Cx12
                    </div>
                    <div class="col-xs-12">
                        <img src="images/chart_third.png" style="width: 100%">
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>

<!-- MODALS -->

<ul class="buttons-request-sorter" id="modalRupturaSorter">
    <li>
        <p style="text-align: center; font-size: 14px;">Ordenar por</p>
    </li>
    <li> <input type="radio" name="sorter" value="Cód. Produto" ng-model="valor"
            ng-change="changeSorterIn(valor)"><strong>Cód. Produto</strong></li>
    <li> <input type="radio" name="sorter" value="Nome Produto" ng-model="valor"
            ng-change="changeSorterIn(valor)"><strong>Nome Produto</strong></li>
</ul>

<div class="overlay-requests">

</div>