<div class="info-cliente">
    <div class="row">
        <div class="col-xs-7 text-left">
            <p>Nome do Cliente</p>
            <p>012354687</p>
        </div>
        <div class="col-xs-5 text-right">
            <p>Total: R$ 1.254,00</p>
            <p>4 Itens</p>
        </div>
    </div>
</div>

<div class="gerar-pedido formas-pagamento" style="padding-top:70px;">

    <div class="row">
        <div class="box-tile white" style="height:auto;">



            <ul class="tipos-pagamento">
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#dinheiro">Dinheiro</a>
                    <div id="dinheiro" class="panel-collapse collapse in">Conteúdo</div>
                </li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#boletoavista">Boleto à Vista</a>
                    <div id="boletoavista" class="panel-collapse collapse">Conteúdo</div>
                </li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#boleto30">Boleto para 30 ddl</a>
                    <div id="boleto30" class="panel-collapse collapse">Conteúdo</div>
                </li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#cartaodebito">Cartão de Débito</a>
                    <div id="cartaodebito" class="panel-collapse collapse">Conteúdo</div>
                </li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#cartaocredito">Cartão de Crédito</a>
                    <div id="cartaocredito" class="panel-collapse collapse">Conteúdo</div>
                </li>
            </ul>



        </div>
    </div>
</div>

<a href="#!formas_pagamento" class="btn-default btn-formas-pagto ng-scope">FINALIZAR PEDIDO</a>