<div class="info-cliente">
    <div class="row">
        <div class="col-xs-7 text-left">
            <p>Nome do Cliente</p>
            <p>012354687</p>
        </div>
        <div class="col-xs-5 text-right">
            <p>Total: R$ 1.254,00</p>
            <p style="font-size: 9px; color:green;">Limite de crédito: 2500,00</p>
            <p>4 Itens</p>
        </div>
    </div>
</div>

<div class="gerar-pedido formas-pagamento" style="padding-top:70px;">

    <div class="row">
        <div class="box-tile white data-entrega" style="height:auto; margin-bottom: 15px;">

            <div class="data-input">
                <div class="row">
                    <div class="col-xs-6 text-left"><label>Data de entrega:</label></div>
                    <div class="col-xs-6"><input class="form-control" type="date"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="box-tile white data-entrega" style="height:auto; margin-bottom: 15px;">

            <div class="data-input">
                <div class="row">
                    <div class="col-xs-12 text-center"><label class="lbl-pedido-cliente">Número Pedido (cliente):</label></div>
                    <div class="col-xs-12"><input class="form-control form-pedido-cliente" type="text"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="box-tile white" style="height:auto; margin-bottom: 100px;">

            <div class="row tipos-pagamento">

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquise a forma de pagamento...">

                <ul id="tipos-pagamento">
                    <li><a>Dinheiro</a></li>
                    <li><a>Cheque à Vista</a></li>
                    <li><a>Cheque 7 dias</a></li>
                    <li><a>Boleto 7 dias</a></li>
                    <li><a>Boleto 14 dias</a></li>
                    <li><a>Nota assinada 21 dias</a></li>
                </ul>

            </div>


        </div>
    </div>
</div>
<a href="#!detalhes_fechamento_pedido" class="btn-default btn-formas-pagto btn-finalizar-pedido">REVISAR PEDIDO</a>