<div class="gerar-pedido" style="padding-top:20px;">

    {{titulo}}

    <div class="row" style="position:relative">
        <div ng-include="'include/fragment_product_sales.html'"></div>
    </div>

    <div style="clear:both"></div>

</div>


<div class="overlay-modal">
        <div class="modal-custom modal-select-pedidos">
    
            <a class="close-modal"> X</a>
    
            <div class="select-customer">
    
                <p>Selecione um cliente abaixo para realizar o pedido.</p>
    
                <select name="clientes" id="clientes">
                    <option value="ABC Lanches LTDA - 32554">ABC Lanches LTDA - 32554</option>
                    <option value="MARCIO GONÇALVES DE QUEIROZ - 35403">MARCIO GONÇALVES DE QUEIROZ - 35403</option>
                    <option value="ADEMAR FRANCISCO HEMSING - 312300">ADEMAR FRANCISCO HEMSING - 312300</option>
                    <option value="VALTER SOUZA SANTOS - 944143">VALTER SOUZA SANTOS - 944143</option>
                    <option value="ABC LANCHES LTDA - 32554">ABC LANCHES LTDA - 32554</option>
                    <option value="MARCIO GONÇALVES DE QUEIROZ - 35403">MARCIO GONÇALVES DE QUEIROZ - 35403</option>
                    <option value="ADEMAR FRANCISCO HEMSING - 312300">ADEMAR FRANCISCO HEMSING - 312300</option>
                    <option value="VALTER SOUZA SANTOS - 944143">VALTER SOUZA SANTOS - 944143</option>
                </select>
    
                <a href="gerar_pedidos" class="btn-default"> SELECIONAR CLIENTE </a>
    
            </div>
    
        </div>
    </div>