<div class="search-clientes-ruptura">
    <input type="text" placeholder="Pesquisar...">
</div>
<div class="ruptura-container">
    <div style="float: left" class="box-tile white sorter-div">
        <div class="col-xs-8"><p id="selectedSorterVas">{{valor}}</p></div>
        <div class="col-xs-4"><img src="images/sort-up-and-down-arrows-couple.svg" style="width: 20px; margin: 10px;"></div>
    </div>
    <div style="float: right;" class="box-tile white" id="sorterMenuVasilhame">
        <img src="images/menu.svg" style="width: 40px; cursor: pointer; padding: 8px;">
    </div>
</div>
<div class="modal-remuneracao-variavel ruptura-mode">
    <ul>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-8" style="padding: 0;">
                            <p><strong>13694 - Ademilson Silva Rodrigues </strong></p>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1">
                            <img src="images/thumb-down-yellow.svg" alt="" style="width: 20px;">
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 0; font-size: 10px; padding-left: 7px;">Giro</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>1,32</strong></p>
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-1" style="padding: 0;">
                        <p style="margin: 0; font-size: 8px">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>19</strong></p>
                    </div>
                    <div class="col-xs-10" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="vasilhame_1"></div>
                        </div>
                    </div>
                    <div class="col-xs-1" style="align-items: center; padding: 0">
                        <p style="font-size: 10px; margin: 0">Média</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>25</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-8" style="padding: 0;padding-left: 7px;">
                            <p><strong>13694 - Ademilson Silva Rodrigues </strong></p>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1">
                            <img src="images/thumb-down.svg" alt="" style="width: 20px;">
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 0; font-size: 10px;padding-left: 7px;">Giro</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>0,33</strong></p>
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-1" style="padding: 0;">
                        <p style="margin: 0; font-size: 8px">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>10</strong></p>
                    </div>
                    <div class="col-xs-10" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="vasilhame_2"></div>
                        </div>
                    </div>
                    <div class="col-xs-1" style="align-items: center; padding: 0">
                        <p style="font-size: 10px; margin: 0">Média</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>30</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-8" style="padding: 0;">
                            <p><strong>13694 - Ademilson Silva Rodrigues </strong></p>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1">
                            <img src="images/thumbs-up.svg" alt="" style="width: 20px;">
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 0; font-size: 10px;padding-left: 7px;">Giro</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>4,00</strong></p>
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-1" style="padding: 0;">
                        <p style="margin: 0; font-size: 8px">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>20</strong></p>
                    </div>
                    <div class="col-xs-10" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="vasilhame_3"></div>
                        </div>
                    </div>
                    <div class="col-xs-1" style="align-items: center; padding: 0">
                        <p style="font-size: 10px; margin: 0">Média</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>5</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-8" style="padding: 0;">
                            <p><strong>13694 - Ademilson Silva Rodrigues </strong></p>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1">
                            <img src="images/thumb-down-yellow.svg" alt="" style="width: 20px;">
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 0; font-size: 10px;padding-left: 7px;">Giro</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>1,32</strong></p>
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-1" style="padding: 0;">
                        <p style="margin: 0; font-size: 8px">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>19</strong></p>
                    </div>
                    <div class="col-xs-10" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="vasilhame_4"></div>
                        </div>
                    </div>
                    <div class="col-xs-1" style="align-items: center; padding: 0">
                        <p style="font-size: 10px; margin: 0">Média</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>25</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-8" style="padding: 0;">
                            <p><strong>13694 - Ademilson Silva Rodrigues </strong></p>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1">
                            <img src="images/thumb-down.svg" alt="" style="width: 20px;">
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 0; font-size: 10px;padding-left: 7px;">Giro</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>0,33</strong></p>
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-1" style="padding: 0;">
                        <p style="margin: 0; font-size: 8px">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>10</strong></p>
                    </div>
                    <div class="col-xs-10" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="vasilhame_5"></div>
                        </div>
                    </div>
                    <div class="col-xs-1" style="align-items: center; padding: 0">
                        <p style="font-size: 10px; margin: 0">Média</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>30</strong></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>

<!-- MODALS -->

<ul class="buttons-request-sorter" id="modalVasilhameSorter">
    <li> <p style="text-align: center; font-size: 14px;">Ordenar por</p></li>
    <li> <input type="radio" name="sorter" value="Cliente" ng-model="valor" ng-change="changeSorter(valor)"><strong>Cliente</strong></li>
    <li> <input type="radio" name="sorter" value="Giro" ng-model="valor" ng-change="changeSorter(valor)"><strong>Giro</strong></li>
</ul>

<div class="overlay-requests">

</div>
