<div class="linha-sku-header box-tile white">
    <div class="col-xs-6">Versão 2019.3</div>
    <div class="col-xs-6 text-right">11 Abril, 2019</div>
    <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
</div>

<div class="hectolitro-body">
    <h3>Por Tipo de Vasilhame</h3>
    <ul>
        <li>
            <div class="box-hectolitro border-green box-tile white">

                <div class="col-xs-5" style="padding-top: 8px;">1 - RETORNÁVEIS</div>
                <div class="col-xs-3 text-center">
                    <div>% Tend</div>
                    <div class="value-h">0</div>
                </div>
                <div class="col-xs-4 text-center">
                    <div>Meta Dia</div>
                    <div class="value-h font-green"><img src="images/thumbs-up.svg" style="width: 15px; margin-right: 5px; vertical-align: text-bottom;">0,00%</div>
                </div>
                <div class="col-xs-12" style="clear: both; display: -webkit-box; margin-top: 5px; height: 5px; border-top: solid 1px #CCC;"></div>
                <div class="col-xs-6 text-left">Realizado</div>
                <div class="col-xs-6 text-right">Meta</div>

                <div style="clear:both"></div>
                <div class="loading-hecto">
                    <div class="bar-loading-hecto bg-green"></div>
                </div>
                <div style="clear:both"></div>

                <div class="col-xs-4 text-left fonts-large">96,52</div>
                <div class="col-xs-4 text-center">
                    <div>Diferença</div>
                    <div>10,5</div>
                </div>
                <div class="col-xs-4 text-right fonts-large">96,52</div>
                <div style="clear:both"></div>
            </div>
        </li>

        <li>
            <div class="box-hectolitro border-red box-tile white">

                <div class="col-xs-5" style="padding-top: 8px;">2 - DESCARTÁVEIS</div>
                <div class="col-xs-3 text-center">
                    <div>% Tend</div>
                    <div class="value-h">0</div>
                </div>
                <div class="col-xs-4 text-center">
                    <div>Meta Dia</div>
                    <div class="value-h font-red"><img src="images/thumb-down.svg" style="width: 15px; margin-right: 5px; vertical-align: text-bottom;">0,00%</div>
                </div>
                <div class="col-xs-12" style="clear: both; display: -webkit-box; margin-top: 5px; height: 5px; border-top: solid 1px #CCC;"></div>
                <div class="col-xs-6 text-left">Realizado</div>
                <div class="col-xs-6 text-right">Meta</div>

                <div style="clear:both"></div>
                <div class="loading-hecto">
                    <div class="bar-loading-hecto bg-red"></div>
                </div>
                <div style="clear:both"></div>

                <div class="col-xs-4 text-left fonts-large">96,52</div>
                <div class="col-xs-4 text-center">
                    <div>Diferença</div>
                    <div>10,5</div>
                </div>
                <div class="col-xs-4 text-right fonts-large">96,52</div>
                <div style="clear:both"></div>
            </div>
        </li>


    </ul>

    <h3>Por Classificação de Produto</h3>
    <ul>
        <li>
            <div class="box-hectolitro border-yellow box-tile white">

                <div class="col-xs-5" style="padding-top: 8px;">ESPECIAIS</div>
                <div class="col-xs-3 text-center">
                    <div>% Tend</div>
                    <div class="value-h">0</div>
                </div>
                <div class="col-xs-4 text-center">
                    <div>Meta Dia</div>
                    <div class="value-h font-yellow"><img src="images/thumb-down-yellow.svg" style="width: 15px; margin-right: 5px; vertical-align: text-bottom;">0,00%</div>
                </div>
                <div class="col-xs-12" style="clear: both; display: -webkit-box; margin-top: 5px; height: 5px; border-top: solid 1px #CCC;"></div>
                <div class="col-xs-6 text-left">Realizado</div>
                <div class="col-xs-6 text-right">Meta</div>

                <div style="clear:both"></div>
                <div class="loading-hecto">
                    <div class="bar-loading-hecto bg-yellow"></div>
                </div>
                <div style="clear:both"></div>

                <div class="col-xs-4 text-left fonts-large">96,52</div>
                <div class="col-xs-4 text-center">
                    <div>Diferença</div>
                    <div>10,5</div>
                </div>
                <div class="col-xs-4 text-right fonts-large">96,52</div>
                <div style="clear:both"></div>
            </div>
        </li>

        <li>
            <div class="box-hectolitro border-red box-tile white">

                <div class="col-xs-5" style="padding-top: 8px;">MIX NÃO ALCOOLICOS</div>
                <div class="col-xs-3 text-center">
                    <div>% Tend</div>
                    <div class="value-h">0</div>
                </div>
                <div class="col-xs-4 text-center">
                    <div>Meta Dia</div>
                    <div class="value-h font-red"><img src="images/thumb-down.svg" style="width: 15px; margin-right: 5px; vertical-align: text-bottom;">0,00%</div>
                </div>
                <div class="col-xs-12" style="clear: both; display: -webkit-box; margin-top: 5px; height: 5px; border-top: solid 1px #CCC;"></div>
                <div class="col-xs-6 text-left">Realizado</div>
                <div class="col-xs-6 text-right">Meta</div>

                <div style="clear:both"></div>
                <div class="loading-hecto">
                    <div class="bar-loading-hecto bg-red"></div>
                </div>
                <div style="clear:both"></div>

                <div class="col-xs-4 text-left fonts-large">96,52</div>
                <div class="col-xs-4 text-center">
                    <div>Diferença</div>
                    <div>10,5</div>
                </div>
                <div class="col-xs-4 text-right fonts-large">96,52</div>
                <div style="clear:both"></div>
            </div>
        </li>


    </ul>
</div>