<div class="row" style="padding-top: 20px;">

        <div class="nav-tab-custom">
            <a class="tab-1 active">Entregues</a>
            <a class="tab-2">Devolvidos</a>
            <a class="tab-3">Em Transito</a>
        </div>
    
        <div class="tab-content tab-meus-pedidos">
            <div class="tab-page-1">
    
                <div class="row">
    
                    <div ng-include="'include/fragment_requests.html'"></div>
    
                </div>
    
            </div>
    
            <div class="tab-page-2">
    
                <div class="row">
    
                    <div ng-include="'include/fragment_requests.html'"></div>
    
                </div>
    
            </div>
    
            <div class="tab-page-3">
    
                    <div class="row">
        
                        <div ng-include="'include/fragment_requests.html'"></div>
        
                    </div>
        
                </div>
    
        </div>
    
    </div>

<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#">Consignações em Aberto</a> </li>
</ul>