<div class="screen-home">

<div class="row">

	<div class="col-md-12 col-xs-12" style="padding:0; margin-top: 0;">
		<a href="#!minha_rota">
			<div class="box-tile route-customer white">

				<div class="col-xs-3">
					<img src="images/map.svg" alt="" style="width: 45px; margin-top: 5px; margin-left: 20px;">
				</div>
				<div class="col-xs-9">
					<h3>Minha Rota</h3>
					<p>14/01/2019, Segunda-feira</p>
				</div>

				

			</div>
		</a>

	</div>


</div>

<div class="row">

	<div class="col-md-12 col-xs-12" style="margin-bottom: 15px">

		<div class="box-tile customers-served white">

			<div class="row">
				<div class="col-xs-9 text-left"> <strong style="color: #c62222;">15 de 30</strong> clientes atendidos</div>
				<div class="col-xs-3 text-right">50%</div>
			</div>

			<div class="loading-customers">
				<div class="bar-loading"></div>
			</div>

			<a href="#" class="next-customer">
				<span>
					Ir para o próximo cliente: <br>
					<span style="color: #c62222;">Lanches Botequin Ltda.</span>
				</span>
			</a>

		</div>

	</div>


</div>

<div class="row">

	<div class="col-md-6 col-xs-6" style="padding-right:10px;">
		<div class="box-tile white" style="padding: 5px 5px; text-align: center;">
				
			Meta Mensal
			<span class="meta-total-mensal">Total: R$ 50.000.00</span>
			<canvas id="myChart" style="width:100%; height:80px;"></canvas>
			<span class="meta-mensal">Realizada: R$ 20.000.00</span>

		</div>
	</div>

	<div class="col-md-6 col-xs-6" style="padding-left:10px;">
		<div class="box-tile white" style="padding: 5px 5px; text-align: center;">
			Meta Diária
			<span class="meta-total-mensal">Total: R$ 5.000.00</span>
			<canvas id="myChart2" style="width:100%; height:80px;"></canvas>
			<span class="meta-mensal">Realizada: R$ 2.000.00</span>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-6 col-xs-6" style="padding-right:10px;">

		<div class="box-tile stock-price white">

			<img src="images/stock2_b.svg" alt="">
			<p>Estoque / Preços</p>

		</div>

	</div>

	<div class="col-md-6 col-xs-6" style="padding-left:10px;">

		<div class="box-tile charts-reports white">

			<img src="images/document_b.svg" alt="">
			<p>Relatórios</p>

		</div>

	</div>

</div>

<div class="row">

	<div class="col-md-6 col-xs-6" style="padding-right:10px;">
		<a href="#!catalogo_produtos">
			<div class="box-tile catalog-products white">

				<img src="images/beer_b.svg" alt="">
				<p>Catálogo de Produtos</p>

			</div>
		</a>

	</div>


</div>

<a class="float-button open-modal-clientes">

	<img src="images/add.svg" alt="" style="margin-left: 15px; margin-top: 15px;">

</a>

<div class="overlay-add-customer">

	<ul class="buttons-add">
		<li> <a href="#!cadastro_clientes">Novo Cliente <img src="images/add.svg" alt=""> </a> </li>
		<li> <a class="btn-novo-pedido">Novo Pedido <img src="images/add.svg" alt=""> </a> </li>
		<!--<li>  <a href="#">Novo Pedido <img src="images/add.svg" alt="" > </a> </li>-->
		<li> <a href="#">Solic. visita do gestor <img src="images/add.svg" alt=""> </a> </li>

	</ul>

</div>

<div class="overlay-modal">
	<div class="modal-custom modal-select-pedidos">

		<a class="close-modal"> X</a>

		<div class="select-customer">

			<p>Selecione um cliente abaixo para realizar o pedido.</p>

			<div class="row tipos-pagamento" style="padding: 0;">

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquise a forma de pagamento...">

                <ul id="tipos-pagamento">
                    <li><a>ABC Lanches LTDA - 32554</a></li>
                    <li><a>MARCIO GONÇALVES DE QUEIROZ - 35403</a></li>
                    <li><a>ADEMAR FRANCISCO HEMSING - 312300</a></li>
                    <li><a>VALTER SOUZA SANTOS - 944143</a></li>
                    <li><a>ABC LANCHES LTDA - 32554</a></li>
                    <li><a>MARCIO GONÇALVES DE QUEIROZ - 35403</a></li>
                    <li><a>ADEMAR FRANCISCO HEMSING - 312300</a></li>

                </ul>

            </div>

			<a href="#!new_pedido" class="btn-default"> SELECIONAR CLIENTE </a>

		</div>

	</div>
</div>
</div>

<br>
<br><br>
<script>
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			datasets: [{
				data: [40, 60],
				backgroundColor: [
					'#f5f5f5',
					'#c62222'
				],
				borderColor: [
					'rgba(255,99,132,1)',
					'rgba(54, 162, 235, 1)'
				],
				borderWidth: 0
			}]
		}
		
	});

	var ctx = document.getElementById("myChart2").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			datasets: [{
				data: [20, 60],
				backgroundColor: [
					'#f5f5f5',
					'#c62222'
				],
				borderColor: [
					'rgba(255,99,132,1)',
					'rgba(54, 162, 235, 1)'
				],
				borderWidth: 0
			}]
		}
		
	});
	</script>
<script src="js/jQuery-custom.js"></script>