<div class="row">

	<div class="col-md-12 col-xs-12" style="padding:0;">
		<a href="#!minha_rota">
			<div class="box-tile route-customer white">

				<div class="col-xs-3">
					 <img src="images/map.svg" alt="" style="width: 45px; margin-top: 20px; margin-left: 20px;">
				</div>
				<div class="col-xs-7">
					<h3>Minha Rota</h3>
					<p>24/04/2004, Quarta-feira</p>
				</div>

				<div class="col-xs-2">
						
					</div>


			</div>
		</a>
		
		</div>


</div>

<div class="row">

	<div class="col-md-12 col-xs-12">

			<div class="box-tile customers-served white">
			
			<div class="row">
				<div class="col-xs-9 text-left"> <strong style="color: #c62222;">15 de 30</strong> clientes atendidos</div>
				<div class="col-xs-3 text-right">50%</div>
			</div>

				<div class="loading-customers">
					<div class="bar-loading"></div>
				</div>

				<a href="#" class="next-customer">
						<span>
							Ir para o próximo cliente: <br>
							<span style="color: #c62222;">Lanches Botequin Ltda.</span>
						</span>
					</a>

			</div>
		
		</div>


</div>

<div class="row">

	<div class="col-md-12 col-xs-12">
		<a href="#!catalogo_produtos">
			<div class="box-tile catalog-products white">

				<img src="images/beer_b.svg" alt="">
				<p>Catálogo de Produtos</p>

			</div>
		</a>
		
		</div>


</div>


<div class="row">
<div class="col-md-6 col-xs-6" style="padding-right:10px;">
	
	<div class="box-tile stock-price white">

			<img src="images/stock2_b.svg" alt="">
			<p>Estoque / Preços</p>

	</div>

</div>

<div class="col-md-6 col-xs-6" style="padding-left:10px;">
	
	<div class="box-tile charts-reports white">

			<img src="images/document_b.svg" alt="">
			<p>Relatórios</p>

	</div>

</div>

</div>

<a class="float-button-clientes">

	<img src="images/add-customer.svg" alt="">

</a>

<div class="overlay-add-customer">

<ul class="buttons-add">
<li>  <a href="#!cep_cadastro_clientes">Novo Cliente  <img src="images/add.svg" alt="" > </a> </li>
<!--<li>  <a href="#">Novo Pedido <img src="images/add.svg" alt="" > </a> </li>-->
<li>  <a href="#">Agendar Visita <img src="images/add.svg" alt=""> </a> </li>

</ul>

</div>
<br>
<br><br>
<script src="js/jQuery-custom.js"></script>