<div class="informacao-faturamento-prazo">
        <div class="linha-sku-header box-tile white">
                <div class="col-xs-6">Versão 2019.3</div>
                <div class="col-xs-6 text-right">11 Abril, 2019</div>
                <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
        </div>
    <ul class="list-group list-group-flush list-group-box">
        <li class="list-group-item ">
            <div class="row">
                <div class="col-xs-6">
                    <p class="faturamento-prazo text-left">À Vista</p>
                </div>
                <div class="col-xs-6">
                    <p class="faturamento-preco text-right">10.931,24</p>
                </div>
            </div>
        </li>
        <li class="list-group-item ">
            <div class="row">
                <div class="col-xs-6">
                    <p class="faturamento-desc text-left">Dinheiro: 7.602,24</p>
                </div>
                <div class="col-xs-6">
                    <p class="faturamento-desc text-right">Cartão: 3.330,00</p>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-flush list-group-box">
            <li class="list-group-item ">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="faturamento-prazo text-left">De 1 a 14 Dias</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="faturamento-preco text-right">29.468,04</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="faturamento-desc text-left">N.R.C: 7.602,24</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="faturamento-desc text-right">Boleto: 3.330,00</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush list-group-box">
                <li class="list-group-item ">
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="faturamento-prazo text-left">De 15 a 21 Dias</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="faturamento-preco text-right">25.375,87</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item ">
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="faturamento-desc text-left">N.R.C: 7.602,24</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="faturamento-desc text-right">Boleto: 3.330,00</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group list-group-flush list-group-box">
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="faturamento-prazo text-left">Acima de 21 Dias</p>
                            </div>
                            <div class="col-xs-6">
                                <p class="faturamento-preco text-right">25.900,54</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="faturamento-desc text-left">N.R.C: 7.602,24</p>
                            </div>
                            <div class="col-xs-6">
                                <p class="faturamento-desc text-right">Boleto: 3.330,00</p>
                            </div>
                        </div>
                    </li>
                </ul>
</div>