<div class="linha-sku-header box-tile white">
    <div class="col-xs-6">Versão 2019.3</div>
    <div class="col-xs-6 text-right">11 Abril, 2019</div>
    <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
</div>

<div class="linha-produtos box-tile white">

    <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt=""> 001 - GARRAFA 600ML</h3>
    
    <div class="col-xs-12">

        <ul>
            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</strong></div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO MALTE GRF
                            RET 600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB LAG PM RET
                            600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Falta</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Tendência</span> <br> <strong> 0,00</strong></div>
                </div>
            </li>

        </ul>


    </div>

</div>

<div class="linha-produtos box-tile white">

    <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt=""> 001 - GARRAFA 600ML</h3>
    
    <div class="col-xs-12">

        <ul>
            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</strong></div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO MALTE GRF
                            RET 600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB LAG PM RET
                            600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Falta</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Tendência</span> <br> <strong> 0,00</strong></div>
                </div>
            </li>

        </ul>


    </div>

</div>

<div class="linha-produtos box-tile white">

    <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt=""> 001 - GARRAFA 600ML</h3>
    
    <div class="col-xs-12">

        <ul>
            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</strong></div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO MALTE GRF
                            RET 600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB LAG PM RET
                            600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Falta</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Tendência</span> <br> <strong> 0,00</strong></div>
                </div>
            </li>

        </ul>


    </div>

</div>

<div class="linha-produtos box-tile white">

    <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt=""> 001 - GARRAFA 600ML</h3>
    
    <div class="col-xs-12">

        <ul>
            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM 600ML CX-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML Cx-24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br>  0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br>  0,00</strong></div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO MALTE GRF
                            RET 600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                    <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB LAG PM RET
                            600ML CX24</strong></div>
                    <div class="col-xs-3"> <span>Meta Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span>Real Vol</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Falta</span> <br> <strong> 0,00</strong></div>
                    <div class="col-xs-3"><span> Tendência</span> <br> <strong> 0,00</strong></div>
                </div>
            </li>

        </ul>


    </div>

</div>