<div class="linha-sku-header box-tile white">
    <div class="col-xs-6">Versão 2019.3</div>
    <div class="col-xs-6 text-right">11 Abril, 2019</div>
    <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
</div>


<div class="nav-tab-custom" style="margin-top: 10px;">
    <a style="margin-left: 10px;" class="tab-1 active">Caixas</a>
    <a class="tab-2">Positivação</a>
    <a class="tab-3">Hectolitros</a>
    <a style="margin-right: 10px;" class="tab-4">Preço Médio</a>
</div>

<div class="tab-content" style="padding: 0px 0px;">
    <!-- TAB 1 -->
    <div class="tab-page-1">

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 001 - GARRAFA 600ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA
                                    600ML CX-24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM
                                    600ML CX-24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO
                                    MALTE GRF
                                    RET 600ML CX24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB
                                    LAG PM RET
                                    600ML CX24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 002 - LATA 350ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1174 - Cerv.Itaipava
                                    Malzbier Lt Cx-12</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1183 - Cerveja Itaipava Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1193 - Cerveja Crystal Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8852 - CERV ITA P.0.0%ALC
                                    LT350MLPC12</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>12378 - CERV ITA PR LT SLEEK
                                    350ML P12</strong></div>
                            <div class="col-xs-3"> <span>Meta Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>Real Vol</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Falta</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Tendência</span> <br> 0,00</div>
                            <div class="col-xs-3"><span>% Tend</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Meta Dia</span> <br> 0,00</div>
                            <div class="col-xs-3"><span> Entrega</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

    </div>

    <!-- TAB 2 -->
    <div class="tab-page-2">

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 001 - GARRAFA 600ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA
                                    600ML CX-24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM
                                    600ML CX-24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO
                                    MALTE GRF
                                    RET 600ML CX24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB
                                    LAG PM RET
                                    600ML CX24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 002 - LATA 350ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1174 - Cerv.Itaipava
                                    Malzbier Lt Cx-12</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>


                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1183 - Cerveja Itaipava Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM
                                    600ML CX-24</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1193 - Cerveja Crystal Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8852 - CERV ITA P.0.0%ALC
                                    LT350MLPC12</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>2378 - CERV ITA PR LT SLEEK
                                    350ML P12</strong></div>
                            <div class="col-xs-4"> <span>Meta Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real Pos</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif Pos</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

    </div>
    <!-- TAB 3 -->
    <div class="tab-page-3">

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 001 - GARRAFA 600ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA
                                    600ML CX-24</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM
                                    600ML CX-24</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO
                                    MALTE GRF
                                    RET 600ML CX24</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB
                                    LAG PM RET
                                    600ML CX24</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 002 - LATA 350ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1174 - Cerv.Itaipava
                                    Malzbier Lt Cx-12</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>


                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1183 - Cerveja Itaipava Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1193 - Cerveja Crystal Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8852 - CERV ITA P.0.0%ALC
                                    LT350MLPC12</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>2378 - CERV ITA PR LT SLEEK
                                    350ML P12</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>2378 - CERV ITA PR LT SLEEK
                                    350ML P12</strong></div>
                            <div class="col-xs-6"> <span>HL Meta</span> <br> 0,00</div>
                            <div class="col-xs-6"><span>HL Real</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

    </div>
    <!-- TAB 4 -->
    <div class="tab-page-4">

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 001 - GARRAFA 600ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1180 - CERVEJA ITAIPAVA
                                    600ML CX-24</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>


                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1190 - Cerveja Crystal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8739 - CERV. ITA PREMIUM
                                    600ML CX-24</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1186 - Cerveja Lokal 600ML
                                    Cx-24</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15140 - CERV PETRA PURO
                                    MALTE GRF
                                    RET 600ML CX24</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>15149 - CERV CACILDIS AMB
                                    LAG PM RET
                                    600ML CX24</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

        <!-- Item -->
        <div class="linha-produtos box-tile white">

            <h3 style="margin-bottom: 0;" class="title-name-product"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down"
                    alt=""> 002 - LATA 350ML</h3>

            <div class="col-xs-12">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1174 - Cerv.Itaipava
                                    Malzbier Lt Cx-12</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>


                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1183 - Cerveja Itaipava Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>1193 - Cerveja Crystal Lata
                                    Cx-12</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>8852 - CERV ITA P.0.0%ALC
                                    LT350MLPC12</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>2378 - CERV ITA PR LT SLEEK
                                    350ML P12</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-12" style="margin: 20px auto 5px;"> <strong>2378 - CERV ITA PR LT SLEEK
                                    350ML P12</strong></div>
                            <div class="col-xs-4"> <span>Meta PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span>Real PM</span> <br> 0,00</div>
                            <div class="col-xs-4"><span> Dif PM</span> <br> 0,00</div>
                            <div class="col-xs-12" style="margin: 10px auto 5px;"> <strong>TOTAL: 0,00</strong></div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

    </div>

</div>