<div class="linha-sku-header box-tile white">
        <div class="col-xs-6">Versão 2019.3</div>
        <div class="col-xs-6 text-right">11 Abril, 2019</div>
        <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
</div>

<div class="linha-sku-body box-tile white">

        <ul>
                <li class="header-list-sku">
                        <div class="col-xs-9">SKU</div>
                        <div class="col-xs-3 text-right">Falta</div>
                </li>

                <li>
                        <div class="col-xs-10">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</div>
                        <div class="col-xs-2 text-right">1</div>
                </li>

                <li>
                        <div class="col-xs-10"><span class="truncate">15150 - CERV CACILDIS AMB LAG PM DES 600ML CX12</span></div>
                        <div class="col-xs-2 text-right">1</div>
                </li>

                <li>
                        <div class="col-xs-10"> <span class="truncate">15150 - CERV CACILDIS AMB LAG PM DES 600ML CX12</span>
                        </div>
                        <div class="col-xs-2 text-right">3</div>
                </li>

                <li>
                        <div class="col-xs-10">1186 - Cerveja Lokal 600ML Cx-24</div>
                        <div class="col-xs-2 text-right">4</div>
                </li>

                <li>
                        <div class="col-xs-10">3302 - CERV PET SCHWARZBIER 500ML CX6</div>
                        <div class="col-xs-2 text-right">6</div>
                </li>

                <li>
                        <div class="col-xs-10">8423 - CER.WEL.KL.BAR.DUN500MLO.WCX6 </div>
                        <div class="col-xs-2 text-right">9</div>
                </li>

                <li>
                        <div class="col-xs-10"> <span class="truncate">15149 - CERV CACILDIS AMB LAG PM RET 600ML CX24</span>
                        </div>
                        <div class="col-xs-2 text-right">11</div>
                </li>

                <li>
                        <div class="col-xs-10"> <span class="truncate">14734 - CERV BLK PRIN BACK TO THE RED 600ML CX6</span>
                        </div>
                        <div class="col-xs-2 text-right">13</div>
                </li>

                <li>
                        <div class="col-xs-10"> <span class="truncate">15142 - CERV PETRA PURO MALTE LT 269ML PCTC12</span>
                        </div>
                        <div class="col-xs-2 text-right">13</div>
                </li>

                <li>
                        <div class="col-xs-10"> <span class="truncate">14735 - CERV BLK PRIN D WE WEIZEN 600ML CX6</span>
                        </div>
                        <div class="col-xs-2 text-right">16</div>
                </li>
        </ul>

</div>