<div class="gerar-pedido">

    <div style="clear:both; height: 10px;"></div>

    <div class="row" style="position:relative">

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <p class="name-comodato">Itaipava - Lata</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <p class="name-comodato">Itaipava</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <p class="name-comodato">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/05.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <p class="name-comodato">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/06.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-10">
                        <p class="name-comodato">Energético TNT</p>
                        <p class="cnpj">001234458741</p>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>


    </div>

    <div style="clear:both; height: 50px;"></div>

</div>

<a class="btn-recolha" style="display:none;">Solicitar Recolha</a>

<div class="overlay-comodato">

    <div class="buttons-comodato">
        <h5 style="margin-left: 10px;text-align: center; margin-bottom: 40px;">Deseja solicitar a recolha do comodato:
            <strong>012345678</strong>?</h5>

        <div class="row">
            <div class="col-xs-6">
                <button class="btn-contrato btn-sim-contrato">SIM</button>
            </div>

            <div class="col-xs-6">
                <button class="btn-contrato btn-nao-contrato">NÃO</button>
            </div>
        </div>
    </div>

    <div class="modal-custom" style="display:none;">
        <h3 class="header-modal" style="font-size: 18px;">Pedido de Recolha realizado com Sucesso!</h3>
        <p class="text-center">Comodato: <strong>012345678</strong></p>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <div class="modal-conteudo">
            <a href="#!/detalhe_clientes" class="btn-default">Fechar e voltar</a>
        </div>
    </div>

</div>

<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!comodatos_barril">Recolha (Barril e Cilindro) </a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>