<a href="#!login">
<div class="splash login">

        <img src="images/logo.png" class="logo" alt="">
<div class="box-login">

    <label for="inp" class="inp">
        <input type="text" id="inp" placeholder="&nbsp;">
        <span class="label">Login</span>
        <span class="border"></span>
    </label>

    <label for="inp" class="inp">
        <input type="text" id="inp" placeholder="&nbsp;">
        <span class="label">Senha</span>
        <span class="border"></span>
    </label>

    <button class="btn-default">Entrar</button>

</div>




</div>
</a>