<a href="#!login">
<div class="splash login">

      <a href="#!splash"> <img src="images/logo.png" class="logo" alt=""></a>
<div class="box-login">

    <label for="inp" class="inp">
        <input type="text" id="inp" placeholder="&nbsp;">
        <span class="label">Login</span>
        <span class="border"></span>
    </label>

    <label for="inp" class="inp">
        <input type="text" id="inp" placeholder="&nbsp;">
        <span class="label">Senha</span>
        <span class="border"></span>
    </label>

    <a href="#!home" class="btn-default">Entrar</a>

</div>




</div>
</a>