<div class="splash login">

    <div class="header-login">

        <a href="#!splash">
            <img src="images/logo_white.png" class="logo" alt="">
        </a>

    </div>

    <div class="box-login">

        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Matrícula</span>
            <span class="border"></span>
        </label>

        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Senha</span>
            <span class="border"></span>
        </label>

        <a href="#!home" class="btn-default">Entrar</a>

    </div>


    <span class="copyright">Todos os direitos reservados à Grupo Petrópolis S/A</span>

</div>