<div class="row grid-requests" style="padding-top: 20px;">

	<div class="nav-tab-custom">
		<a class="tab-1 active">Histórico de Pedidos</a>
		<a class="tab-2">Pedidos Devolvidos</a>
	</div>

	<div class="tab-content tab-meus-pedidos">
		<div class="tab-page-1">

			<div class="row">

				<div ng-include="'include/fragment_requests.html'"></div>

			</div>

		</div>

		<div class="tab-page-2">

			<div class="row">

				<div ng-include="'include/fragment_requests.html'"></div>

			</div>

		</div>
	</div>

</div>

<a class="float-button button-pedidos">
	<img src="images/sales.svg" alt="" style="margin-top: 15px; margin-left: 15px;">
</a>

<a class="float-button-second button-feedback">
	<img src="images/feedback_w.svg" alt="" style="margin-top: 16px; margin-left: 17px;">
</a>

<div class="overlay-modal">
	<div class="modal-custom modal-select-pedidos">

		<a class="close-modal"> X</a>

		<div class="select-customer">

			<p>Selecione um cliente:</p>

			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquise a forma de pagamento...">

			<ul id="tipos-pagamento">
				<li><a>ABC Lanches LTDA - 32554</a></li>
				<li><a>MARCIO GONÇALVES DE QUEIROZ - 35403</a></li>
				<li><a>ADEMAR FRANCISCO HEMSING - 312300</a></li>
				<li><a>VALTER SOUZA SANTOS - 944143</a></li>
				<li><a>ABC LANCHES LTDA - 32554</a></li>
				<li><a>MARCIO GONÇALVES DE QUEIROZ - 35403</a></li>
				<li><a>ADEMAR FRANCISCO HEMSING - 312300</a></li>

			</ul>
			<a href="#!new_pedido" class="btn-default"> SELECIONAR CLIENTE </a>

		</div>

	</div>
</div>