<div class="row grid-customers" style="padding-top: 20px;">
<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>

<!--  Card Customer  -->
<a href="#!/detalhe_clientes">
	<div class="col-xs-12 card-customer">	
		<div class="box-tile box-customer white">
			<div class="col-xs-9">
				<p class="name">Lanchonete ABC Ltda</p>
				<p class="cnpj">17.444.222/0001-99</p>
			</div>
			<div class="box-indic">
				<span class="red">V</span>
				<span class="green">P</span>
				<span class="red">S</span>
				<span class="yellow">A</span>
				<span class="gray">G</span>
			</div>
		</div>
	</div>
</a>


</div>

<a class="float-button-clientes">

		<img src="images/add-customer.svg" alt="">
	
	</a>
	
	<div class="overlay-add-customer">
	
	<ul class="buttons-add">
	<li>  <a href="#!cep_cadastro_clientes">Novo Cliente  <img src="images/add.svg" alt="" > </a> </li>
	<li>  <a href="#">Novo Pedido <img src="images/add.svg" alt="" > </a> </li>
	<li>  <a href="#">Agendar Visita <img src="images/add.svg" alt=""> </a> </li>
	
	</ul>
	
	</div>