<div class="row grid-customers" style="padding-top: 20px;">

	<div class="nav-tab-custom">
		<a class="tab-1 active">Ativos</a>
		<a class="tab-2">Pendentes</a>
	</div>

	<div class="tab-content">

		<div class="tab-page-1">

			<div class="row">
				<div ng-include="'include/fragment_customer.html'"></div>
			</div>

		</div>

		<div class="tab-page-2">

			<div class="row">

				<div ng-include="'include/fragment_customer.html'"></div>

			</div>

		</div>

	</div>





</div>

<a class="float-button-clientes">

	<img src="images/add-customer.svg" alt="">

</a>

<div class="overlay-add-customer">

	<ul class="buttons-add">
		<li> <a href="#!cep_cadastro_clientes">Novo Cliente <img src="images/add.svg" alt=""> </a> </li>
		<!--<li>  <a href="#">Novo Pedido <img src="images/add.svg" alt="" > </a> </li>-->
		<li> <a href="#">Agendar Visita <img src="images/add.svg" alt=""> </a> </li>

	</ul>

</div>