<div class="search-clientes-ruptura">
    <input type="text" placeholder="Pesquisar...">
</div>
<div class="ruptura-container">
    <div style="float: left" class="box-tile white sorter-div">
        <div class="col-xs-8"><p id="selectedSorterMV">{{valor}}</p></div>
        <div class="col-xs-4"><img src="images/sort-up-and-down-arrows-couple.svg" style="width: 20px; margin: 10px;"></div>
    </div>
    <div style="float: right;" class="box-tile white" id="sorterMenuMinhaVariavel">
        <img src="images/menu.svg" style="width: 40px; cursor: pointer; padding: 8px;">
    </div>
</div>
<div class="modal-remuneracao-variavel ruptura-mode">
    <ul>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-9" style="padding: 0;">
                            <p><strong>1001 - Gestão de Metas (Linha e Linha)</strong></p>
                        </div>
                        <div class="col-xs-1" style="margin: 0; padding-left: 5px;">
                            <p style="margin: 0; font-size: 10px; padding-left: 7px;">Variável</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>420,00</strong></p>
                        </div>
                        <div class="col-xs-1" style=" padding-left: 30px; padding-top: 5px;">
                            <img src="images/thumbs-up.svg" alt="" style="width: 20px;">
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 34px; margin-bottom: 9px;">
                    <div class="col-xs-2" style="padding: 0;">
                        <p style="margin: 0; padding-left: 5px; font-size: 10px;">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>18</strong></p>
                    </div>
                    <div class="col-xs-4" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="MV_1"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="align-items: center;">
                        <p style="font-size: 10px; margin: 0">Meta</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>62</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0">Range</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>D</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0;padding-left: 8px">Perc</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>29,03</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-9" style="padding: 0;padding-left: 7px;">
                            <p><strong>1002 - HI Produtos Retornáveis</strong></p>
                        </div>
                        <div class="col-xs-1" style="margin: 0; padding-left: 5px;">
                            <p style="margin: 0; font-size: 10px; padding-left: 7px;">Variável</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>280,00</strong></p>
                        </div>
                        <div class="col-xs-1" style=" padding-left: 30px; padding-top: 5px;">
                            <img src="images/thumb-down-yellow.svg" alt="" style="width: 20px;">
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-2" style="padding: 0;">
                        <p style="margin: 0; padding-left: 5px; font-size: 10px;">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>80,25</strong></p>
                    </div>
                    <div class="col-xs-4" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="MV_2"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="align-items: center;">
                        <p style="font-size: 10px; margin: 0">Meta</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>53,87</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0">Range</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>B</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0;padding-left: 8px">Perc</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>52,38</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-9" style="padding: 0;">
                            <p><strong>1003 - Produtos Retornáveis 600 MI</strong></p>
                        </div>
                        <div class="col-xs-1" style="margin: 0; padding-left: 5px;">
                            <p style="margin: 0; font-size: 10px; padding-left: 7px;">Variável</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>420,00</strong></p>
                        </div>
                        <div class="col-xs-1" style=" padding-left: 30px; padding-top: 5px;">
                            <img src="images/thumb-down-yellow.svg" alt="" style="width: 20px;">
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-2" style="padding: 0;">
                        <p style="margin: 0; padding-left: 5px; font-size: 10px;">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>18,14</strong></p>
                    </div>
                    <div class="col-xs-4" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="MV_3"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="align-items: center;">
                        <p style="font-size: 10px; margin: 0">Meta</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>34,56</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0">Range</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>A</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0;padding-left: 8px">Perc</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>62,48</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-9" style="padding: 0;">
                            <p><strong>1004 - HL Produtos Descartáveis</strong></p>
                        </div>
                        <div class="col-xs-1" style="margin: 0; padding-left: 5px;">
                            <p style="margin: 0; font-size: 10px; padding-left: 7px;">Variável</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>140,00</strong></p>
                        </div>
                        <div class="col-xs-1" style=" padding-left: 30px; padding-top: 5px;">
                            <img src="images/thumbs-up.svg" alt="" style="width: 20px;">
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-2" style="padding: 0;">
                        <p style="margin: 0; padding-left: 5px; font-size: 10px;">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>301,76</strong></p>
                    </div>
                    <div class="col-xs-4" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="MV_4"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="align-items: center;">
                        <p style="font-size: 10px; margin: 0">Meta</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>300,11</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0">Range</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>A</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0;padding-left: 8px">Perc</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>100,58</strong></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-9" style="padding: 0;">
                            <p><strong>1005 - HL Cervejas Especiais</strong></p>
                        </div>
                        <div class="col-xs-1" style="margin: 0; padding-left: 5px;">
                            <p style="margin: 0; font-size: 10px; padding-left: 7px;">Variável</p>
                            <p style="margin: 0; padding-left: 5px;"><strong>140,00</strong></p>
                        </div>
                        <div class="col-xs-1" style=" padding-left: 30px; padding-top: 5px;">
                            <img src="images/thumb-down.svg" alt="" style="width: 20px;">
                        </div>
                    </div>
                    <hr style="border-width: 2px; margin-top: 32px; margin-bottom: 9px;">
                    <div class="col-xs-2" style="padding: 0;">
                        <p style="margin: 0; padding-left: 5px; font-size: 10px;">Realizado</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>0,18</strong></p>
                    </div>
                    <div class="col-xs-4" style="margin-top: 10px;height: 20px;">
                        <div class="progresso">
                            <div id="MV_5"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="align-items: center;">
                        <p style="font-size: 10px; margin: 0">Meta</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>0,37</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0">Range</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>A</strong></p>
                    </div>
                    <div class="col-xs-2" style="align-items: center; ">
                        <p style="font-size: 10px; margin: 0;padding-left: 8px">Perc</p>
                        <p style="margin: 0; padding-left: 5px;"><strong>48,86</strong></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- MODALS -->

<ul class="buttons-request-sorter" id="modalMinhaVariavelSorter">
    <li> <p style="text-align: center; font-size: 14px;">Ordenar por</p></li>
    <li> <input type="radio" name="sorter" value="Indicador" ng-model="valor" ng-change="changeSorter(valor)"><strong>Indicador</strong></li>
    <li> <input type="radio" name="sorter" value="Variável" ng-model="valor" ng-change="changeSorter(valor)"><strong>Variável</strong></li>
    <li> <input type="radio" name="sorter" value="Range" ng-model="valor" ng-change="changeSorter(valor)"><strong>Range</strong></li>
</ul>

<div class="overlay-requests">

</div>
