<div class="my-route" style="padding-top: 20px;">

	<div class="row">

		<div style="margin: -20px 0px 15px 0px;">
			<div class="box-tile customers-served white" style="height: 70px;">

				<div class="row">
					<div class="col-xs-9 text-left"> <strong style="color: #c62222;">15 de 30</strong> clientes atendidos</div>
					<div class="col-xs-3 text-right">50%</div>
				</div>

				<div class="loading-customers">
					<div class="bar-loading"></div>
				</div>

				<a href="#" class="next-customer" style="display:none;">
					<span>
						Ir para o próximo cliente: <br>
						<span style="color: #c62222;">Lanches Botequin Ltda.</span>
					</span>
				</a>

			</div>
		</div>

	</div>

	<div class="row">

		<div ng-include="'include/fragment_customer.html'"></div>

	</div>
</div>