<script src="js/js_menu_bonificacao.js"></script>
<div class="info-cliente">
    <div class="row">
        <p class="col-xs-8 text-left"> Nome do Cliente</p>
        <p class="col-xs-4 text-right">012354687</p>
    </div>

        <div class="search-cart">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" placeholder="O que vender hoje?">
            </div>
            <div class="col-xs-4" style="padding-left: 0;">
                <select onchange="location = this.value;">
                    <option hidden disabled selected>Tipo:</option>
                    <option value="#!new_pedido">Venda</option>
                    <option value="#!comodato">Comodato</option>
                    <option value="#!combos">Combo</option>
                    <option value="#!bonificacao">Bonificação</option>

                </select>
             </div>
        </div>
    </div>

    <div class="meta-faturamento" style="display:none;">
        <div>Limite de crédito: R$ 1.245,00</div>
        <div class="loading-customers">
            <div class="bar-loading"></div>
        </div>
    </div>

</div>

<div class="gerar-pedido" style="padding-top:95px;">

    <div class="row" style="position:relative">

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava - Lata</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/04.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava GO Draft</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/05.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/06.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Energético TNT</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/07.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Cerveja Petra</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava - Lata</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/04.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava GO Draft</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/05.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/06.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Energético TNT</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a class="carrinho-bonificacao">
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/07.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Cerveja Petra</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

    </div>

    <div style="clear:both"></div>

    <a class="float-button btn-filter">

            <img src="images/filter.svg" alt="" style="margin-left: 22px; margin-top: 23px; width: 25px;">
        
        </a>

    <div class="navigation-bottom">
        <ul>
            <li class="active"><a href="#!new_pedido" class="link-mercado"> <img src="images/mercado.svg" alt=""> <span>Mercado</span>
                </a></li>
            <li><a href="#!bonificacao" class="link-bonificacao"> <img src="images/bonificacao.svg" alt=""> <span>Bonificações</span>
                </a></li>
            <li><a href="#!combos" class="link-combo"> <img src="images/combo.svg" alt=""> <span>Combos</span> </a></li>
            <li><a class="btn-filter"> <img src="images/filter.svg" alt=""> <span>Filtro</span> </a></li>
        </ul>
    </div>
</div>

<div class="total-box">

    <div class="row">

        <div class="col-xs-6"> <strong> Total de Itens: 4</strong></div>
        <div class="col-xs-6 text-right"> <strong> Valor Total<br>R$ 600,00</strong></div>

        <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

        <div style="overflow: auto; height: 130px;">

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px;"></div>

        </div>

        <a href="#!carrinho" class="btn-go-cart">IR PARA O CARRINHO</a>


    </div>

</div>

<div class="filter-products">
        <div ng-include="'include/fragment_branding_new.html'"></div>
</div>
<div class="overlay-filter"></div>

<div class="overlay-total"></div>


<div class="overlay-product">
    <div class="modal-custom">

        <a class="close-modal"> X</a>

        <div class="config-product">

            <p> <strong>001234458741</strong> </p>
            <p>Itaipava - Lata</p>

            <input type="text" name="qtde" value="40" placeholder="40">
            <select class="select-product">
                <option hidden disabled selected>Unid</option>
                <option>8</option>
                <option>12</option>
                <option>16</option>
                <option>24</option>
            </select>
            <input type="text" name="value" value="R$ 0,00" placeholder="R$ 0,00">
            <p class="txt-min2">Tabela 0 - AS ROTAS de R$ 80,09 à R$ 144,41</p>
            <p class="txt-estoque">Estoque: 5524</p>
            <p class="txt-min">Última atualização em: 01/02/2019 às 8h44 <img style="width: 18px; margin-left: 8px;" src="images/cloud_b.svg" alt=""> </p>
            <br>
            <a class="accordion bonificacao"><img class="img-select img-bonificacao" src="images/select.png" style="width: 40px;"><span style="font-size: 16px;">Bonificação</span></a>
            <br>
            <div class="accordion-bonificacao">
                <input type="text" name="qtde" value="0" placeholder="0">
                <select class="select-product">
                    <option hidden disabled selected>Unid</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                    <option>24</option>
                </select>
            </div>
            <br>
            <a class="accordion comodato"><img class="img-select img-comodato" src="images/select.png" style="width: 40px;"><span style="font-size: 16px;">Comodato</span></a>
            <br>
            <div class="accordion-comodato">
                <input type="text" name="qtde" value="0" placeholder="0">
                <select class="select-product">
                    <option hidden disabled selected>Termos</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <a class="btn-default add-product-sum"> ADICIONAR </a>

        </div>

    </div>
</div>

<div class="overlay-modal overlay-quest">
    <div class="modal-custom" style="margin-top:50px;">

        <h4>Deseja anexar o comprovante de pagamento?</h4>
        <br>
        <button class="btn-resposta btn-sim">SIM</button>
        <button class="btn-resposta btn-nao">NÃO</button>
        <br>
        <img src="" class="img-produto-photo" alt="" style="display:none;">
        <img src="images/camera.svg" class="cam-produto" alt="" style="width: 50px; display: block; margin: auto; padding-top: 20px; padding-bottom: 20px;">
        <br>
        <a class="btn-default btn-comprovante"> CONTINUAR </a>

    </div>
</div>

<div id="overlay" class="overlay-requests">
    
</div>
<ul id="buttons" class="buttons-bonificacao">
    <li> <a class="add-product-sum">Adicionar ao carrinho </a> </li>
    <li> <a class="add-product-sum">Conceder bonificação </a> </li>
</ul>
