<div class="info-cliente">
    <div class="row">
        <p class="col-xs-8 text-left"> Nome do Cliente</p>
        <p class="col-xs-4 text-right">012354687</p>
    </div>

    <div class="search-cart">

        <input type="text" placeholder="O que vamos vender hoje?">

    </div>

    <div class="meta-faturamento" style="display:none;">
        <div>Limite de crédito: R$ 1.245,00</div>
        <div class="loading-customers">
            <div class="bar-loading"></div>
        </div>
    </div>

</div>

<div class="gerar-pedido" style="padding-top:95px;">

    <div class="row" style="position:relative">

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava - Lata</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/04.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava GO Draft</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/05.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/06.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Energético TNT</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/07.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Cerveja Petra</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/01.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava - Lata</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/02.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/03.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/04.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava GO Draft</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/05.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Itaipava Premium</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/06.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Energético TNT</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

        <!--  Card Product  -->
        <a>
            <div class="col-xs-12 card-product">
                <div class="box-tile box-product white">

                    <div class="col-xs-2" style="padding:0;">

                        <img src="produtos/07.jpg" style="width: 55px;" alt="">

                    </div>

                    <div class="col-xs-7">
                        <p class="name">Cerveja Petra</p>
                        <p class="cnpj">001234458741</p>
                        <p class="preco">R$ 0,00</p>
                        <p class="estoque">Estoque: 41547</p>
                    </div>

                    <div class="col-xs-3 text-right">
                        <span class="add-product">
                            <img src="images/cart.svg" alt="" style="width: 30px;">
                        </span>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </a>

    </div>

    <div style="clear:both"></div>

    <div class="navigation-bottom">
        <ul>
            <li><a> <img src="images/add.svg" alt=""> <span>Mercado</span> </a></li>
            <li><a> <img src="images/add.svg" alt=""> <span>Bonificações</span> </a></li>
            <li><a> <img src="images/add.svg" alt=""> <span>Combos</span> </a></li>
            <li><a class="btn-filter"> <img src="images/filter.svg" alt=""> <span>Filtro</span> </a></li>
        </ul>
    </div>
</div>

<div class="total-box">

    <div class="row">

        <div class="col-xs-6"> <strong> Total de Itens: 4</strong></div>
        <div class="col-xs-6 text-right"> <strong> Valor Total<br>R$ 600,00</strong></div>

        <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

        <div style="overflow: auto; height: 130px;">

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px; border-bottom: solid 2px #b51c1c; margin-bottom: 10px;"></div>

            <div class="col-xs-6">Nome do Produto<br>12345678</div>
            <div class="col-xs-6 text-right"> Valor Un.<br>R$ 150,00</div>

            <div style="clear:both; height:5px;"></div>

        </div>

        <a href="#!carrinho" class="btn-go-cart">IR PARA O CARRINHO</a>


    </div>

</div>

<div class="filter-products">
        <div ng-include="'include/fragment_branding_new.html'"></div>
</div>
<div class="overlay-filter"></div>

<div class="overlay-total"></div>


<div class="overlay-modal">
    <div class="modal-custom">

        <a class="close-modal"> X</a>

        <div class="config-product">

            <p> <strong>001234458741</strong> </p>
            <p>Itaipava - Lata</p>

            <input type="text" name="qtde" value="40" placeholder="40">
            <input type="text" name="value" value="R$ 0,00" placeholder="R$ 0,00">
            <p class="txt-min2">Tabela 0 - AS ROTAS de R$ 80,09 à R$ 144,41</p>
            <p class="txt-estoque">Estoque: 5524</p>
            <p class="txt-min">Última atualização em: 01/02/2019 às 8h44 <img style="width: 18px; margin-left: 8px;" src="images/cloud_b.svg" alt=""> </p>

            <a href="#!new_pedido" class="btn-default add-product-sum"> ADICIONAR </a>

        </div>

    </div>
</div>