<div class="pesquisas" style="padding-top:15px;">

    <div class="page-pesquisa01">
        <div class="row">
            <div class="col-md-12">
                <div class="box-tile tile-perguntas white">

                    Tem 8 ou mais frentes de qualquer cerveja do portfólio do Grupo Petrópolis?
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="box-tile tile-respostas white">

                    <button class="btn-resposta btn-sim">SIM</button>
                    <button class="btn-resposta btn-nao">NÃO</button>

                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="box-tile white">

                    <img src="images/camera.svg" alt="" style="width: 50px; display: block; margin: auto; padding-top: 45px;">

                </div>

                <button class="btn-default">PRÓXIMO ></button>

            </div>
        </div>
    </div>

</div>