<script src="js/js_swipe_detalhe.js"></script>

<div id="quest" class="questionarios-detalhe" style="position: relative;">

    <div class="qcampos">

        <div class="tipo-venda text-center">

            <label for="embalagem">Embalagem:</label>
            <select name="embalagem">
                <option>CERVEJA GARRAFA 300ML</option>
                <option>CERVEJA GARRAFA 600ML</option>
                <option>CERVEJA LATA 350ML, CX 12</option>
            </select>
            <label for="origem">Origem:</label>
            <select name="origem">
                <option>Vendedor</option>
                <option>Externo</option>
            </select>

        </div>

        <div class="titulo-produto">
            ITAIPAVA
            <button class="btn-add-line btn-add-01">+</button>
        </div>
        <table id="prod-itaipava">
            <thead>
                <tr>
                    <th class="text-center">Pack</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">PP UN</th>
                    <th class="text-center">PV CX</th>
                </tr>
            </thead>
            <tbody>
                <!-- Packs -->
                <tr>
                    <td>14</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <!-- Packs -->


            </tbody>
        </table>

        <div class="titulo-produto">
            CRYSTAL
            <button class="btn-add-line btn-add-02">+</button>
        </div>
        <table id="prod-crystal" cellpadding="10" cellspacing="10">
            <thead>
                <tr>
                    <th class="text-center">Pack</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">PP UN</th>
                    <th class="text-center">PV CX</th>
                </tr>
            </thead>
            <tbody>
                <!-- Packs -->
                <tr>
                    <td>24</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="titulo-produto">
            ITAIPAVA GO DRAFT
            <button class="btn-add-line btn-add-03">+</button>
        </div>
        <table id="prod-go-draft" cellpadding="10" cellspacing="10">
            <thead>
                <tr>
                    <th class="text-center">Pack</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">PP UN</th>
                    <th class="text-center">PV CX</th>
                </tr>
            </thead>
            <tbody>
                <!-- Packs -->
                <tr>
                    <td>24</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="titulo-produto">
            ITAIPAVA PREMIUM
            <button class="btn-add-line btn-add-04">+</button>
        </div>
        <table id="prod-premium" cellpadding="10" cellspacing="10">
            <thead>
                <tr>
                    <th class="text-center">Pack</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">PP UN</th>
                    <th class="text-center">PV CX</th>
                </tr>
            </thead>
            <tbody>
                <!-- Packs -->
                <tr>
                    <td>24</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="overlay-modal add-new-pack-01">
    <div class="modal-custom" style="margin-top:100px;">
        <h4 class="text-center">Deseja adicionar um novo Pack?</h4>

        <div class="text-center">
            <p>Quantidade:</p>
            <input type="number" class="valor-pack1" type="text">
        </div>

        <div class="row">
            <div class="col-xs-7"><button class="btn-default btn-sim modal-btn-add-01">Add</button></div>
            <div class="col-xs-5"><button class="btn-default btn-nao">Cancelar</button></div>
        </div>

    </div>
</div>

<div class="overlay-modal add-new-pack-02">
        <div class="modal-custom" style="margin-top:100px;">
            <h4 class="text-center">Deseja adicionar um novo Pack?</h4>
    
            <div class="text-center">
                <p>Quantidade:</p>
                <input type="number" class="valor-pack2" type="text">
            </div>
    
            <div class="row">
                <div class="col-xs-7"><button class="btn-default btn-sim modal-btn-add-02">Add</button></div>
                <div class="col-xs-5"><button class="btn-default btn-nao">Cancelar</button></div>
            </div>
    
        </div>
    </div>

    <div class="overlay-modal add-new-pack-03">
            <div class="modal-custom" style="margin-top:100px;">
                <h4 class="text-center">Deseja adicionar um novo Pack?</h4>
        
                <div class="text-center">
                    <p>Quantidade:</p>
                    <input type="number" class="valor-pack3" type="text">
                </div>
        
                <div class="row">
                    <div class="col-xs-7"><button class="btn-default btn-sim modal-btn-add-03">Add</button></div>
                    <div class="col-xs-5"><button class="btn-default btn-nao">Cancelar</button></div>
                </div>
        
            </div>
        </div>

        <div class="overlay-modal add-new-pack-04">
                <div class="modal-custom" style="margin-top:100px;">
                    <h4 class="text-center">Deseja adicionar um novo Pack?</h4>
            
                    <div class="text-center">
                        <p>Quantidade:</p>
                        <input type="number" class="valor-pack4" type="text">
                    </div>
            
                    <div class="row">
                        <div class="col-xs-7"><button class="btn-default btn-sim modal-btn-add-04">Add</button></div>
                        <div class="col-xs-5"><button class="btn-default btn-nao">Cancelar</button></div>
                    </div>
            
                </div>
            </div>