<div class="linha-sku-header box-tile white">
    <div class="col-xs-6">Versão 2019.3</div>
    <div class="col-xs-6 text-right">11 Abril, 2019</div>
    <div class="col-xs-12 text-center" style="margin-top: 10px;">Dias Úteis: 11, trabalhados: 5, restam: 16</div>
</div>

<div class="linha-sku-body box-tile white">

    <ul>
        <li class="header-list-sku">
            <div class="col-xs-4"> <span class="truncate">POSITIVAÇÃO GERAL</span> </div>
            <div class="col-xs-2 text-right">META</div>
            <div class="col-xs-2 text-right">REAL</div>
            <div class="col-xs-2 text-right">DIFER.</div>
            <div class="col-xs-2 text-right">%REAL</div>
        </li>

        <li>
            <div class="col-xs-4"><span class="truncate">001 - GARRAFA 600ml</span></div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>

        <li>
            <div class="col-xs-4"><span class="truncate">007 - BARRIL</span></div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>
        <li>
            <div class="col-xs-4"><span class="truncate">030 - GARRAFA 1000ml</span></div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>

        <li>
            <div class="col-xs-4"><span class="truncate">047 - GARRAFA 300ml</span></div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>

        <li class="retro-descar">
            <div class="col-xs-4"><span class="truncate">1 - RETORNÁVEIS</span></div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>

        <li class="retro-descar">
            <div class="col-xs-4"><span class="truncate">2 - DESCARTÁVEIS</span></div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>

    </ul>

</div>

<div class="linha-sku-body box-tile white">

    <ul>
        <li style="margin-bottom: 0; font-weight: bold;">
            <div class="col-xs-4 text-center"> TOTAL<br>POSITIVAÇÕES </div>
            <div class="col-xs-2 text-right">1.810</div>
            <div class="col-xs-2 text-right">714</div>
            <div class="col-xs-2 text-right">-1.096</div>
            <div class="col-xs-2 text-right">39,45%</div>
        </li>

    </ul>
</div>