<div class="questionarios" style="padding-top:15px; position: relative;">

    <table class="header-table">
        <thead>
            <tr>
                <th></th>
                <th> <img src="images/300ml.png" alt=""> <span>300ml</span> </th>
                <th><img src="images/350ml.png" alt=""> <span>350ml</span> </th>
                <th><img src="images/longneck.png" alt=""><span>longneck</span></th>
                <th><img src="images/600ml.png" alt=""><span>600ml</span></th>
                <th><img src="images/1000ml.png" alt=""><span>Litrão</span></th>
            </tr>
        </thead>
    </table>

    <div style="height:450px; overflow-y:auto;">
        <table style="margin-top: 50px;">
            <tbody>
                <tr>
                    <td>ITAIPAVA</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                </tr>

                <tr>
                    <td>BRAHMA</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                </tr>

                <tr>
                    <td>SKOL</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                </tr>

                <tr>
                    <td>ANTARTICA</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                </tr>

                <tr>
                    <td>PROIBIDA</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                </tr>

                <tr>
                    <td>AMSTEL</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                </tr>

                <tr>
                    <td>BOHEMIA</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                </tr>

                <tr>
                    <td>ORIGINAL</td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt=""> </a> </td>
                    <td> <a href="#!quest_detalhe"> <img src="images/verified_quest.svg" alt="" class="true"> </a> </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

