<script src="js/js_swipe_detalhe.js"></script>

<div id="quest2" class="questionarios-detalhe anim-swipe-left" style="padding-top:15px; position: relative;">

    <div class="qcampos">
        
        <div class="tipo-venda text-center">

            <div class="col-xs-6" style="padding-left: 5px; padding-right: 0;"> <a class="vendedor active-link">VENDEDOR</a>
            </div>
            <div class="col-xs-6" style="padding-right: 5px; padding-left: 0;"> <a class="externo">EXTERNO</a> </div>
            <div style="clear:both"></div>
    
        </div>

        <div class="titulo-produto">CERVEJA ITAIPAVA 600 ML</div>

        <table cellpadding="10" cellspacing="10">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">PP UN</th>
                    <th class="text-center">PV CX</th>
                </tr>
            </thead>
            <tbody>
                <!-- Packs -->
                <tr>
                    <td style="width: 110px;">Pack com 14</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <!-- Packs -->
                <tr>
                    <td style="width: 110px;">Pack com 24</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <!-- Packs -->
                <tr>
                    <td style="width: 110px;">Pack com 36</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <!-- Packs -->
                <tr>
                    <td style="width: 110px;">Pack com 48</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>

            </tbody>
        </table>

    </div>

</div>