<div class="remuneracao-variavel">

    <div style="margin-top: 20px;">

        <div class="box-sel-competencia">

            <div class="dropdown" id="competencia">
                <button id="btn-competencia" type="button">
                    <span class="txt-selected">Competência</span>
                    <span class="caret"></span>
                </button>
            </div>
        </div>

        <ul>
            <!--  Card Remuneração  -->
            <li>
                <a>
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Minha Variavel</p>
                            <div class="value-variavel">R$ 3000,00</div>
                            <div class="indica-variavel">
                                <div class="arrow up"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress"></span> </div>
                            <p class="status-variavel"> R$ 4200,00 </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>

            <!--  Card Remuneração  -->
            <li>
                <a>
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Faturamento/Meta</p>
                            <div class="value-variavel">R$ 3000,00</div>
                            <div class="indica-variavel">
                                <div class="arrow up"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress"></span> </div>
                            <p class="status-variavel"> R$ 4200,00 </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>

            <!--  Card Remuneração  -->
            <li>
                <a>
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Inadimpencia</p>
                            <div class="value-variavel" style="color: red;">R$ 3000,00</div>
                            <div class="indica-variavel">
                                <div class="arrow down"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress" style="background:#ff0000;"></span>
                            </div>
                            <p class="status-variavel"> R$ 4200,00 </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>

            <!--  Card Remuneração  -->
            <li>
                <a>
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Giro Mat. Pesado</p>
                            <div class="value-variavel">32 / 28</div>
                            <div class="indica-variavel">
                                <div class="arrow up"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress"></span> </div>
                            <p class="status-variavel"> </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>

            <!--  Card Remuneração  -->
            <li>
                <a class="link-clientes-ruptura">
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Clientes em Ruptura</p>
                            <div class="value-variavel" style="color: red;">4 / 134</div>
                            <div class="indica-variavel">
                                <div class="arrow down"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress" style="background:#ff0000;"></span>
                            </div>
                            <p class="status-variavel"> </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>

            <!--  Card Remuneração  -->
            <li>
                <a>
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Giro Vasilhame</p>
                            <div class="value-variavel">1,09</div>
                            <div class="indica-variavel">
                                <div class="arrow up"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress"></span> </div>
                            <p class="status-variavel"> 1,20 </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>

            <!--  Card Remuneração  -->
            <li>
                <a>
                    <div class="col-xs-12">
                        <div class="row box-tile tile-remunecao white">

                            <p class="name-title">Comissao Recebida/Saldo</p>
                            <div class="value-variavel">R$ 3000,00</div>
                            <div class="indica-variavel">
                                <div class="arrow up"></div>
                            </div>

                            <div class="progress-bar-vrl"> <span class="val-progress"></span> </div>
                            <p class="status-variavel"> R$ 4200,00 </p>
                            <p class="percent-variavel"> 42% </p>

                        </div>
                    </div>
                </a>
            </li>
        </ul>

        

    </div>


</div>

<!-- Modal Select Competencia -->

<div class="overlay-modal competencia-mode">
    <div class="modal-custom" style="margin-top:100px;">
        <a class="close-modal close-justificar"> X</a>
        <ul class="list-competencia" aria-labelledby="dLabel">
            <li>03/2019 - Em Apuracao - 18/03/2019 07:48:53</li>
            <li>02/2019</li>
            <li>01/2019</li>
            <li>12/2018</li>
            <li>11/2018</li>
            <li>10/2018</li>
            <li>09/2018</li>
            <li>08/2018</li>
            <li>07/2018</li>
            <li>06/2018</li>
            <li>05/2018</li>
            <li>04/2018</li>
        </ul>

        <a class="btn-sele-competencia btn-default">SELECIONAR</a>
    </div>
</div>

<!-- Modal detalhes Cards RUPTURA -->
<div class="overlay-modal modal-remuneracao-variavel ruptura-mode">
    <div class="modal-custom" style="margin-top: 20px;">
        <a class="close-modal close-justificar"> X</a>
        
        <h2>Clientes em Ruptura</h2>

        <div class="search-modal-remu-variavel">
            <input type="text" placeholder="Pesquisar...">
        </div>

        <ul>
            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Ademilson Silva Rodrigues 0061 (13694)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Terca (223) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 15/01/2019
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Elizabete Ericka Alves de Sous (13591)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Terca (223) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 29/01/2019 </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Genaldo Alves Moraes 138141841 (13483)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Terca (223) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 11/12/2018
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Jeronima Ferreira de Souza (500224)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Segunda (222) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 21/01/2019
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Marcio Cesar Pascoalino (48994)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Quinta (225) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 13/12/2018
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Silvania Flauzina da Cruz (30991)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Sabado (227) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 26/11/2018
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="col-xs-12">
                    <div class="row box-tile tile-modal white" style="margin-bottom: 100px;">

                        <div class="col-xs-12"> <strong>Cliente</strong>
                            <p>Wanderson da Silva Moreira (13505)</p>
                        </div>
                        <div class="col-xs-6"> <strong>Pasta</strong> <br> Quinta (225) </div>
                        <div class="col-xs-6"> <strong>Ultima Compra</strong> <br> 31/10/2018
                        </div>
                    </div>
                </div>
            </li>
        </ul>

 <div class="row modal-button-bottom ">
     <div class="col-xs-12"> <a class="btn-default btn-fechar-modal"> Fechar </a> </div>
 </div>

    </div>
</div>