<div class="col-xs-12" style="padding: 0; margin-top: -10px;">
    <div class="row white">
        <div class="col-xs-12" style="margin-top: 10px;">
            <div class="col-xs-2" style="margin-top: 18px;">
                <img src="images\trofeu_ouro.svg" alt="" width="95%">
            </div>
            <div class="col-xs-8" style="text-align: center; padding-top: 5px;">
                <span><strong>6811 - HELIO DAMIAO SOARES 24834035816</strong></span>
            </div>
            <div class="col-xs-2" style="margin-top: 18px;">
                <img src="images\info.svg" alt="" width="95%">
            </div>
        </div>
        <div class="col-xs-12">
            <hr style="border-width: 2px;">
        </div>
        <div class="col-xs-12">
            <div class="col-xs-2" style="text-align: center; float: left; font-size: 12px;">
                <strong>Visitas</strong><br>2
            </div>
            <div class="col-xs-10" style="text-align: left; font-size: 12px;">
                <span><strong>Prazos Utilizados (3 meses)</strong></span>
                <ul style="list-style: none">
                    <li>
                        <span>1005 - BOLETO P/ 5 DIAS</span>
                    </li>
                    <li>
                        <span>1001 - À VISTA N.R.C.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="items-visão-cliente">
    <!-- Item Accordeon -->
    <div class="row" style="margin-top: 15px;">
        <div class="col-xs-12">
            <div class="box-tile white accordeon-default accordeon-01" style="padding: 10px; margin-top: 15px;">

                <!--COMODATO-->

                <div class="col-xs-12 action-accordeon-01"
                    style="padding-left: 5px; line-height: 38px; border-bottom: solid 2px lightgrey;">
                    <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                    COMODATO
                </div>
                <div class="col-xs-12" style="margin-top: 5px; border-bottom: solid 2px lightgrey;">
                    <div class="col-xs-1" style="padding: 0">
                        <img src="images/table.svg" alt="">
                    </div>
                    <div class="col-xs-9" style="font-weight: bold;">
                        Conjunto de mesas
                    </div>
                    <div class="col-xs-1" style="font-weight: bold;">
                        16
                    </div>
                </div>

                <!--VASILHAME-->

                <div class="col-xs-12" style="margin-top: 5px; border-bottom: solid 2px lightgrey;">
                    <div class="col-xs-4" style="padding: 0; font-weight: bold; text-align: left;">
                        VASILHAME
                    </div>
                    <div class="col-xs-4" style="font-weight: bold;text-align: center;">
                        GARRAFA
                    </div>
                    <div class="col-xs-4" style="font-weight: bold;text-align: right;">
                        GIRO
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top: 5px; border-bottom: solid 2px lightgrey;">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-4" style="padding: 0; text-align: left;">
                                    600ML
                                </div>
                                <div class="col-xs-4" style="text-align: center;">
                                    15
                                </div>
                                <div class="col-xs-4" style="text-align: center;">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-4" style="padding: 0; text-align: left;">
                                    300ML
                                </div>
                                <div class="col-xs-4" style="text-align: center;">
                                    0
                                </div>
                                <div class="col-xs-4" style="text-align: center;">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-4" style="padding: 0; text-align: left;">
                                    1000ML
                                </div>
                                <div class="col-xs-4" style="text-align: center;">
                                    0
                                </div>
                                <div class="col-xs-4" style="text-align: center;">

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12" style="margin-top: 5px;
                                            padding: 0; font-size: 12px; font-weight: bold;">
                    <div class="col-xs-4" style="padding: 0; text-align: center;">
                        Refrigeração
                    </div>
                    <div class="col-xs-4" style="padding: 0; text-align: center;">
                        Giro Refrigeração
                    </div>
                    <div class="col-xs-4" style="padding: 0; text-align: center;">
                        Giro 2
                    </div>
                    <div class="col-xs-4" style="padding: 0; text-align: center;">
                        1
                    </div>
                    <div class="col-xs-4" style="padding: 0; text-align: center;">
                        1
                    </div>
                    <div class="col-xs-4" style="padding: 0; text-align: center;">
                        1
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="col-md-12 col-xs-12">
                    <div class="white" style="padding: 10px;">
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Item Accordeon -->
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 col-xs-12">
            <div class="box-tile white accordeon-default accordeon-02" style="padding: 10px;">
                <div class="col-xs-12 action-accordeon-02"
                    style="padding-left: 5px; line-height: 38px; border-bottom: solid 2px lightgrey;">
                    <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                    FINANCEIRO
                </div>
                <div class="col-xs-12" style="margin-top: 5px; padding: 0;">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-6" style="text-align: left; font-weight: bold">
                                    Títulos em Aberto
                                </div>
                                <div class="col-xs-6" style="text-align: right;">
                                    2
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-6" style="text-align: left;font-weight: bold">
                                    A Vencer
                                </div>
                                <div class="col-xs-6" style="text-align: right;">
                                    R$ 109,90
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-6" style="text-align: left;font-weight: bold">
                                    Vencidos
                                </div>
                                <div class="col-xs-6" style="text-align: right;">
                                    R$ 94,68
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-6" style="text-align: left;font-weight: bold">
                                    Devolução
                                </div>
                                <div class="col-xs-6" style="text-align: right;">
                                    R$ 0,00
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-6" style="text-align: left;font-weight: bold">
                                    Limite de Crédito
                                </div>
                                <div class="col-xs-6" style="text-align: right;">
                                    R$ 1.300,00
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>

    <!-- Item Accordeon -->
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 col-xs-12">
            <div class="box-tile white accordeon-default accordeon-03" style="padding: 10px;">
                <div class="col-xs-12 action-accordeon-03"
                    style="padding-left: 5px; line-height: 38px; border-bottom: solid 2px lightgrey;">
                    <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                    VENDA MÊS ANTERIOR
                </div>
                <div class="col-xs-12" style="margin-top: 5px; padding: 0;">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left; font-weight: bold;">
                                    Faturamento Anterior
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    R$ 784,19
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px;">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    IPC Anterior
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    5
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    001 - Garrafa 600ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    1
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    030 - Garrafa 1000ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    0
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    047 - Garrafa 300ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    0
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    002 - Lata 350ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    4
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    026 - Energético 269ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    1
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>

    <!-- Item Accordeon -->
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 col-xs-12">
            <div class="box-tile white accordeon-default accordeon-04" style="padding: 10px;">
                <div class="col-xs-12 action-accordeon-04"
                    style="padding-left: 5px; line-height: 38px; border-bottom: solid 2px lightgrey;">
                    <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                    VENDA MÊS ATUAL
                </div>
                <div class="col-xs-12" style="margin-top: 5px; padding: 0;">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left; font-weight: bold;">
                                    Faturamento Anterior
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    R$ 784,19
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px;">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    IPC Anterior
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    5
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    001 - Garrafa 600ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    1
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    030 - Garrafa 1000ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    0
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    047 - Garrafa 300ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    0
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    002 - Lata 350ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    4
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    026 - Energético 269ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    1
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 col-xs-12">
            <div class="box-tile white accordeon-default accordeon-05" style="padding: 10px;">
                <div class="col-xs-12 action-accordeon-05"
                    style="padding-left: 5px; line-height: 38px; border-bottom: solid 2px lightgrey;">
                    <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                    PESQUISA
                </div>
                <div class="col-xs-12" style="margin-top: 5px; padding: 0;">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left; font-weight: bold;">
                                    Potêncial 600ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    10
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px;">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    Potêncial 1000ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    24
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    Potêncial 300ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    0
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    Potêncial Lata 350ML
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    54
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 col-xs-12">
            <div class="box-tile white accordeon-default accordeon-06" style="padding: 10px;">
                <div class="col-xs-12 action-accordeon-06"
                    style="padding-left: 5px; line-height: 38px; border-bottom: solid 2px lightgrey;">
                    <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="">
                    POSITIVAÇÃO
                </div>
                <div class="col-xs-12" style="margin-top: 5px; padding: 0;">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="col-xs-8" style="text-align: left; font-weight: bold;">
                                    POS Retornáveis
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    2
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px;">
                                <div class="col-xs-8" style="text-align: left;font-weight: bold;">
                                    POS Descartáveis
                                </div>
                                <div class="col-xs-4" style="text-align: right;">
                                    3
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>

</div>

<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!comodatos_barril">Recolha (Barril e Cilindro) </a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>