<div class="modal-remuneracao-variavel">
    <ul>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile-2 white high-box">
                    <div class="col-xs-12" style="border-bottom: solid 2px #c62222;">
                    <div class="col-xs-10">
                        <input type="text" placeholder="Cliente" style="border: 0; font-size: 18px;">
                    </div>
                    <div class="col-xs-2">
                        <img src="images\search_red.svg" alt="" width="95%">
                    </div>
                    </div>

                    <div class="col-xs-12"  style="margin-top: 20px">
                        <input type="button" class="col-xs-2 week-day-cells" value="Segunda" ng-model="dia" ng-click="selectDay($event, dia)">
                        <input type="button" class="col-xs-2 week-day-cells selected-day" value="Terça" ng-model="dia" ng-click="selectDay($event, dia)">
                        <input type="button" class="col-xs-2 week-day-cells" value="Quarta" ng-model="dia" ng-click="selectDay($event, dia)">
                        <input type="button" class="col-xs-2 week-day-cells" value="Quinta" ng-model="dia" ng-click="selectDay($event, dia)">
                        <input type="button" class="col-xs-2 week-day-cells" value="Sexta" ng-model="dia" ng-click="selectDay($event, dia)">
                        <input type="button" class="col-xs-2 week-day-cells" value="Sábado" ng-model="dia" ng-click="selectDay($event, dia)">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="modal-remuneracao-variavel">
    <ul>
        <li>
            <a href="#!roteiro_visao_cliente_detalhe" style="color: #2f2f2f">
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <img src="images\trofeu_ouro.svg" alt="" width="95%">
                        </div>
                        <div class="col-xs-8" style="text-align: center; padding-top: 5px;">
                            <span><strong>6811 - HELIO DAMIAO SOARES 24834035816</strong></span>
                        </div>
                        <div class="col-xs-2">
                            <img src="images\info.svg" alt="" width="95%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                    <hr style="border-width: 2px;">
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-2" style="text-align: center; float: left; font-size: 12px;">
                            <strong>Visitas</strong><br>2
                        </div>
                        <div class="col-xs-10" style="text-align: left; font-size: 12px;">
                            <span><strong>Prazos Utilizados (3 meses)</strong></span>
                            <ul>
                                <li>
                                   <span>1005 - BOLETO P/ 5 DIAS</span>
                                </li>
                                <li>
                                    <span>1001 - À VISTA N.R.C.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <img src="images\trofeu_prata.svg" alt="" width="95%">
                        </div>
                        <div class="col-xs-8" style="text-align: center; padding-top: 5px;">
                            <span><strong>11221 - CICERA WIDERLANIA BENTO DA SILVA</strong></span>
                        </div>
                        <div class="col-xs-2">
                            <img src="images\info.svg" alt="" width="95%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr style="border-width: 2px;">
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-2" style="text-align: center; float: left; font-size: 12px;">
                            <strong>Visitas</strong><br>2
                        </div>
                        <div class="col-xs-10" style="text-align: left; font-size: 12px;">
                            <span><strong>Prazos Utilizados (3 meses)</strong></span>
                            <ul>
                                <li>
                                    <span>1005 - BOLETO P/ 5 DIAS</span>
                                </li>
                                <li>
                                    <span>1001 - À VISTA N.R.C.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <img src="images\trofeu_bronze.svg" alt="" width="95%">
                        </div>
                        <div class="col-xs-8" style="text-align: center; padding-top: 5px;">
                            <span><strong>6811 - HELIO DAMIAO SOARES 24834035816</strong></span>
                        </div>
                        <div class="col-xs-2">
                            <img src="images\info.svg" alt="" width="95%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr style="border-width: 2px;">
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-2" style="text-align: center; float: left; font-size: 12px;">
                            <strong>Visitas</strong><br>2
                        </div>
                        <div class="col-xs-10" style="text-align: left; font-size: 12px;">
                            <span><strong>Prazos Utilizados (3 meses)</strong></span>
                            <ul>
                                <li>
                                    <span>1005 - BOLETO P/ 5 DIAS</span>
                                </li>
                                <li>
                                    <span>1001 - À VISTA N.R.C.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
        <div class="col-xs-12">
            <div class="row box-tile regular-tile white">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <img src="images\trofeu_prata.svg" alt="" width="95%">
                    </div>
                    <div class="col-xs-8" style="text-align: center; padding-top: 5px;">
                        <span><strong>11221 - CICERA WIDERLANIA BENTO DA SILVA</strong></span>
                    </div>
                    <div class="col-xs-2">
                        <img src="images\info.svg" alt="" width="95%">
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr style="border-width: 2px;">
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-2" style="text-align: center; float: left; font-size: 12px;">
                        <strong>Visitas</strong><br>2
                    </div>
                    <div class="col-xs-10" style="text-align: left; font-size: 12px;">
                        <span><strong>Prazos Utilizados (3 meses)</strong></span>
                        <ul>
                            <li>
                                <span>1005 - BOLETO P/ 5 DIAS</span>
                            </li>
                            <li>
                                <span>1001 - À VISTA N.R.C.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <li>
            <div class="col-xs-12">
                <div class="row box-tile regular-tile white">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <img src="images\trofeu_ouro.svg" alt="" width="95%">
                        </div>
                        <div class="col-xs-8" style="text-align: center; padding-top: 5px;">
                            <p><strong>13694 - Valdir Roberto da Silva </strong></p>
                        </div>
                        <div class="col-xs-2">
                            <img src="images\info.svg" alt="" width="95%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr style="border-width: 2px;">
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-2" style="text-align: center; float: left; font-size: 12px;">
                            <strong>Visitas</strong><br>2
                        </div>
                        <div class="col-xs-10" style="text-align: left; font-size: 12px;">
                            <span><strong>Prazos Utilizados (3 meses)</strong></span>
                            <ul>
                                <li>
                                    <span>1005 - BOLETO P/ 5 DIAS</span>
                                </li>
                                <li>
                                    <span>1001 - À VISTA N.R.C.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </li>
    </ul>

</div>

<div class="overlay-requests">

</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira </a> </li>
    <li> <a href="#!historico_pedidos">Histórico de Pedidos</a> </li>
    <li> <a href="#!lista_comodatos">Comodatos em Aberto</a> </li>
    <li> <a href="#!comodatos_barril">Recolha (Barril e Cilindro) </a> </li>
    <li> <a href="#!consignacoes">Consignações em Aberto</a> </li>
</ul>