<br>
<div class="row">

    <div class="col-md-12 col-xs-12">
        <div class="box-tile limite-disponivel white">

            <div class="col-xs-6 text-left" style="padding-left: 5px;">
                <p style="font-size: 20px;" class="label-lbl">Formas de Pagamento</p>
            </div>

            <div class="col-xs-6 text-right" style="padding-right: 5px;">
                <img style="left: 5px;top: 5px;width: 60px;" src="images/credit-card.svg" alt="">
                <br><br>
            </div>

            <div class="other-values">

                <div class="col-xs-6 text-left" style="padding-left: 5px;">
                    <p class="label-lbl">Limite Disponível</p>
                    <p class="value">R$ 288,72</p>
                </div>

                <div class="col-xs-6 text-right" style="padding-right: 5px;">
                    <p class="label-lbl">Cartões de Débito, Crédito e à Vista</p>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<div class="row">

    <div class="col-md-12 col-xs-12">

        <div class="box-tile white" style="height:auto;">

            <div class="row tipos-pagamento">

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquise a forma de pagamento...">

                <ul id="tipos-pagamento">
                    <li><a>Dinheiro</a></li>
                    <li><a>Dinheiro + Débito</a></li>
                    <li><a>Dinheiro + Crédito</a></li>
                    <li><a>Cartão de Débito</a></li>
                    <li><a>Cartão de Crédito</a></li>
                </ul>

            </div>

            <label style="width: 90%; left: 5%;" for="inp" class="inp container-alteracao-limite">
                <input type="text" id="inp" placeholder="&nbsp;">
                <span class="label alteracao-limite">Novo limite de crédito</span>
                <span class="border"></span>
            </label>

        </div>

    </div>

</div>
<br>
<div class="row">

    <div class="col-xs-12">
        <button class="btn-default btn-default-concluir"> CONCLUIR </button>
    </div>

</div>
<div class="overlay-modal overlay-alteracao-financ">
    <div class="modal-custom">
        <h3 class="header-modal">Alteração concluída com Sucesso!</h3>
        <img src="images/verified.svg" alt="" style="width: 80px; margin: 20px auto 0; display: block;">
        <div class="modal-conteudo">
            <a href="#!detalhe_clientes" class="btn-default">Concluir</a>
        </div>
    </div>
</div>
<div class="overlay-requests">
    
</div>
<ul class="buttons-request">
    <li> <a href="#!solicitar_inativacao">Solic. inativação<img src="images/sales_black.svg" width="10px" alt=""> </a> </li>
    <li> <a href="#!solicitar_alteracao_financ">Solic. alteração financeira<img src="images/sales_black.svg" width="10px" alt=""> </a> </li>
    <li> <a href="#">Solic. recolha de comodatos<img src="images/sales_black.svg" width="10px" alt=""> </a> </li>
</ul>