<div class="sync-screen" style="padding-top: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li>
                    <div class="box-tile white sync-type type1">
                        <div class="name-function">Pedidos</div>
                        <a class="sync-dados"> <img src="images/upload_ind.svg" alt="" class="ind-sync"> </a>
                        <div class="loading-customers"> 
                            <div class="bar-sync"></div>
                        </div>
                        <span class="txt-sync" style="display:none">Sincronizando...</span>
                    </div>
                </li>

                <li>
                    <div class="box-tile white sync-type type2">
                        <div class="name-function">Produtos / Estoque</div>
                        <a class="sync-dados"> <img src="images/upload_ind.svg" alt="" class="ind-sync"> </a>
                        <div class="loading-customers">
                            <div class="bar-sync"></div>
                        </div>
                        <span class="txt-sync" style="display:none">Sincronizando...</span>
                    </div>
                </li>

                <li>
                    <div class="box-tile white sync-type type3">
                        <div class="name-function">Clientes</div>
                        <a class="sync-dados"> <img src="images/upload_ind.svg" alt="" class="ind-sync"> </a>
                        <div class="loading-customers">
                            <div class="bar-sync"></div>
                        </div>
                        <span class="txt-sync" style="display:none">Sincronizando...</span>
                    </div>
                </li>

                <li>
                    <div class="box-tile white sync-type type4">
                        <div class="name-function">Nome da Funcionalidade</div>
                        <a class="sync-dados"> <img src="images/upload_ind.svg" alt="" class="ind-sync"> </a>
                        <div class="loading-customers">
                            <div class="bar-sync"></div>
                        </div>
                        <span class="txt-sync" style="display:none">Sincronizando...</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>