<div class="screen-visao-produto" style="margin-top: 15px;">

<div class="search-product-vision">
    <img src="images/search_red.svg" alt="">
    <input type="text" placeholder="Pesquisar">
</div>

    <div class="visao-produtos box-tile white">

        <h3 style="margin-bottom: 0;" class="title-name-product-h33">
            <div class="row">
                <div class="col-xs-8"> <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">Linha
                    a linha</div>
                <div class="col-xs-4 text-right">0,00%</div>
            </div>
        </h3>

        <ul class="list-first-vision">
            <li>
                <div class="row">
                    <div class="col-xs-8">Produtos com Meta</div>
                    <div class="col-xs-4 text-right">87</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-8">Produtos com Meta Batida</div>
                    <div class="col-xs-4 text-right">0</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-8">Produtos sem Venda</div>
                    <div class="col-xs-4 text-right">10</div>
                </div>
            </li>
        </ul>

    </div>

    <h2>TOP 10 Próximos a Bater</h2>

    <div class="visao-produtos box-tile white" style="margin-top: 15px;"">

    <ul class="
        header-top-10-proximos-bater">
        <li>
            <div class="row">
                <div class="col-xs-8">Produto</div>
                <div class="col-xs-4 text-right">Falta</div>
            </div>
        </li>
        </ul>

        <ul class="list-top-10-proximos-bater" style="height: 150px; overflow-x: hidden; overflow-y:auto">
            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-xs-10"><span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 500ML O.WCX6</span></div>
                    <div class="col-xs-2 text-right">1/10</div>
                </div>
            </li>
        </ul>

    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox"> Expandir Todos
        </label>
    </div>

    <div class="visao-produtos box-tile" style="margin-top: 15px; padding-top: 0; margin-bottom: 10px;">
        <div class="white">
            <h3 style="margin-bottom: 0; border:none;" class="title-name-product-h3">
                <div class="row">
                    <div class="col-xs-8">
                        <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                        <strong> Garrafa 600 ml</strong>
                    </div>
                    <div class="col-xs-4 text-right">5/40</div>
                </div>
            </h3>

            <div class="row loading-visao">
                <div class="col-xs-6" style="padding-top: 15px;">
                    <div class="loading-base">
                        <div class="loading-value"></div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
            </div>

            <div class="row indicadores">

                <ul>
                    <li><strong>Volume</strong><br>300</li>
                    <li><strong>Faturamento</strong><br>54.000</li>
                    <li><strong>Positivação</strong><br>332</li>
                    <li><strong>Falta</strong><br>100</li>
                    <li><strong>Tendẽncia %</strong><br>100</li>
                </ul>

            </div>
        </div>

        <div class="white tipos-produto">
            <h4 style="margin-bottom: 10px; border:none;" class="title-name-product-h4">
                <div class="row">
                    <div class="col-xs-10">
                        <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                        <span class="truncate" style="width: 90%;"> 8427 - CER.WEL.KL UR HEL 600ML O.WCX6 </span>
                    </div>
                    <div class="col-xs-2 text-right">1/9</div>
                </div>
            </h4>

            <div class="row loading-visao">
                <div class="col-xs-6" style="padding-top: 15px;">
                    <div class="loading-base">
                        <div class="loading-value"></div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
            </div>

            <div class="row indicadores">

                <ul>
                    <li><strong>Volume</strong><br>50</li>
                    <li><strong>Faturamento</strong><br>10.340,00</li>
                    <li><strong>Positivação</strong><br>35</li>
                    <li><strong>Falta</strong><br>13,5</li>
                    <li><strong>Tendẽncia %</strong><br>103</li>
                </ul>

            </div>

        </div>

        <div class="white tipos-produto">
            <h4 style="margin-bottom: 10px; border:none;" class="title-name-product-h4">
                <div class="row">
                    <div class="col-xs-10">
                        <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                        <span class="truncate" style="width: 90%;">1186 - CERVEJA LOKAL 600ML Cx-24</span>
                    </div>
                    <div class="col-xs-2 text-right">1/9</div>
                </div>
            </h4>

            <div class="row loading-visao">
                <div class="col-xs-6" style="padding-top: 15px;">
                    <div class="loading-base">
                        <div class="loading-value"></div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
            </div>

            <div class="row indicadores">

                <ul>
                    <li><strong>Volume</strong><br>50</li>
                    <li><strong>Faturamento</strong><br>10.340,00</li>
                    <li><strong>Positivação</strong><br>35</li>
                    <li><strong>Falta</strong><br>13,5</li>
                    <li><strong>Tendẽncia %</strong><br>103</li>
                </ul>


            </div>

        </div>

        <div class="white tipos-produto">
            <h4 style="margin-bottom: 10px; border:none;" class="title-name-product-h4">
                <div class="row">
                    <div class="col-xs-10">
                        <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                        <span class="truncate" style="width: 90%;">3302 - CERV PET SCHWARZBIER 600ML CX6</span>
                    </div>
                    <div class="col-xs-2 text-right">1/9</div>
                </div>
            </h4>

            <div class="row loading-visao">
                <div class="col-xs-6" style="padding-top: 15px;">
                    <div class="loading-base">
                        <div class="loading-value"></div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
            </div>

            <div class="row indicadores">

                <ul>
                    <li><strong>Volume</strong><br>50</li>
                    <li><strong>Faturamento</strong><br>10.340,00</li>
                    <li><strong>Positivação</strong><br>35</li>
                    <li><strong>Falta</strong><br>13,5</li>
                    <li><strong>Tendẽncia %</strong><br>103</li>
                </ul>


            </div>

        </div>

        <div class="white tipos-produto">
            <h4 style="margin-bottom: 10px; border:none;" class="title-name-product-h4">
                <div class="row">
                    <div class="col-xs-10">
                        <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                        <span class="truncate" style="width: 90%;">15150 - CERV CACILDIS AMB LAG PM 600ML CX12</span>
                    </div>
                    <div class="col-xs-2 text-right">1/9</div>
                </div>
            </h4>

            <div class="row loading-visao">
                <div class="col-xs-6" style="padding-top: 15px;">
                    <div class="loading-base">
                        <div class="loading-value"></div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
            </div>

            <div class="row indicadores">

                <ul>
                    <li><strong>Volume</strong><br>50</li>
                    <li><strong>Faturamento</strong><br>10.340,00</li>
                    <li><strong>Positivação</strong><br>35</li>
                    <li><strong>Falta</strong><br>13,5</li>
                    <li><strong>Tendẽncia %</strong><br>103</li>
                </ul>


            </div>

        </div>

    </div>

    <div class="visao-produtos box-tile" style="margin-top: 15px; padding-top: 0; margin-bottom: 40px;">
            <div class="white">
                <h3 style="margin-bottom: 0; border:none;" class="title-name-product-h3">
                    <div class="row">
                        <div class="col-xs-8">
                            <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                            <strong> Garrafa 1000 ml</strong>
                        </div>
                        <div class="col-xs-4 text-right">5/40</div>
                    </div>
                </h3>
    
                <div class="row loading-visao">
                    <div class="col-xs-6" style="padding-top: 15px;">
                        <div class="loading-base">
                            <div class="loading-value"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                    <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
                </div>
    
                <div class="row indicadores">
    
                    <ul>
                        <li><strong>Volume</strong><br>300</li>
                        <li><strong>Faturamento</strong><br>54.000</li>
                        <li><strong>Positivação</strong><br>332</li>
                        <li><strong>Falta</strong><br>100</li>
                        <li><strong>Tendẽncia %</strong><br>100</li>
                    </ul>
    
                </div>
            </div>
    
            <div class="white tipos-produto">
                <h4 style="margin-bottom: 10px; border:none;" class="title-name-product-h4">
                    <div class="row">
                        <div class="col-xs-10">
                            <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                            <span class="truncate" style="width: 90%;">8427 - CER.WEL.KL UR HEL 1000ML O.WCX6</span>
                        </div>
                        <div class="col-xs-2 text-right">1/9</div>
                    </div>
                </h4>
    
                <div class="row loading-visao">
                    <div class="col-xs-6" style="padding-top: 15px;">
                        <div class="loading-base">
                            <div class="loading-value"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                    <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
                </div>
    
                <div class="row indicadores">
    
                    <ul>
                        <li><strong>Volume</strong><br>50</li>
                        <li><strong>Faturamento</strong><br>10.340,00</li>
                        <li><strong>Positivação</strong><br>35</li>
                        <li><strong>Falta</strong><br>13,5</li>
                        <li><strong>Tendẽncia %</strong><br>103</li>
                    </ul>
    
                </div>
    
            </div>
    
            <div class="white tipos-produto">
                <h4 style="margin-bottom: 10px; border:none;" class="title-name-product-h4">
                    <div class="row">
                        <div class="col-xs-10">
                            <img src="images/acc-arrow-down.svg" class="acc-arrow-down" alt="" style="margin-right: 5px;">
                            <span class="truncate" style="width: 90%;">1186 - CERVEJA LOKAL 1000ML Cx-24</span>
                        </div>
                        <div class="col-xs-2 text-right">1/9</div>
                    </div>
                </h4>
    
                <div class="row loading-visao">
                    <div class="col-xs-6" style="padding-top: 15px;">
                        <div class="loading-base">
                            <div class="loading-value"></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 10px;">9/10</div>
                    <div class="col-xs-4 text-center">Preço Médio <br> R$ 84,50 </div>
                </div>
    
                <div class="row indicadores">
    
                    <ul>
                        <li><strong>Volume</strong><br>50</li>
                        <li><strong>Faturamento</strong><br>10.340,00</li>
                        <li><strong>Positivação</strong><br>35</li>
                        <li><strong>Falta</strong><br>13,5</li>
                        <li><strong>Tendẽncia %</strong><br>103</li>
                    </ul>
    
    
                </div>
    
            </div>
    
        </div>



</div>