<div>
	<div class="nav-tab-custom-hist">
		<a ng-click="tab1()" class="tab-hist-1 active_hist">&nbsp;1&nbsp;</a>
		<a ng-click="tab2()" class="tab-hist-2">&nbsp;2&nbsp;</a>
	</div>

	<div class="tab-hist-content">

		<div class="tab-page-hist-1">
			<!--  Card Pedido  -->
			<a href="#!/detalhe_consignados">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
							<div class="mode-status">Ausente</div>
						<div class="col-xs-8">
							<p class="cod-pedido"> Remessa 0001 </p>
							<p class="nome-cliente">101 Itens</p>

						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a href="#!/detalhe_consignados">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
							<div class="mode-status">Estoque cheio</div>
						<div class="col-xs-8">
								<p class="cod-pedido"> Remessa 0002 </p>
								<p class="nome-cliente">101 Itens</p>

						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a href="#!/detalhe_consignados">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
							<div class="mode-status">Estoque cheio</div>
						<div class="col-xs-8">
								<p class="cod-pedido"> Remessa 0003 </p>
								<p class="nome-cliente">101 Itens</p>

						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a href="#!/detalhe_consignados">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
							<div class="mode-status">Estoque cheio</div>
						<div class="col-xs-8">
								<p class="cod-pedido"> Remessa 0004 </p>
								<p class="nome-cliente">101 Itens</p>

						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019
						</div>
					</div>
				</div>
			</a>

		
		</div>
	</div>
</div>

<script>
	$(".tab-page-2 .box-pedidos").removeClass("status-pago");
	$(".tab-page-2 .box-pedidos").addClass("status-nao-pago");
	$(".tab-page-2 .box-pedidos").css("position","relative");
	$(".tab-page-2 .box-pedidos .mode-status").css("display","block");
</script>