<div style="margin-top: 20px;">

	<div class="tab-hist-content">

		<div class="tab-page-hist-1">
			<!--  Card Pedido  -->
			<a ng-click="contratocomodatos()" class="contrato-comodatos">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
						<div class="col-xs-8">
							<p class="cod-pedido"> <strong>012345678</strong> </p>
						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019<br>57 itens
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a ng-click="contratocomodatos()" class="contrato-comodatos">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
						<div class="col-xs-8">
							<p class="cod-pedido"> <strong>012345678</strong> </p>
						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019<br>2 itens
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a ng-click="contratocomodatos()" class="contrato-comodatos">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
						<div class="col-xs-8">
							<p class="cod-pedido"> <strong>012345678</strong> </p>
						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019<br>37 itens
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a ng-click="contratocomodatos()" class="contrato-comodatos">
				<div class="col-xs-12 card-pedidos">
					<div class="box-tile box-pedidos white status-pago">
						<div class="col-xs-8">
							<p class="cod-pedido"> <strong>012345678</strong> </p>
						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							20/01/2019<br>31 itens
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>