<div>
	<div class="nav-tab-custom-hist">
		<a ng-click="tab1()" class="tab-hist-1 active">&nbsp;1&nbsp;</a>
		<a ng-click="tab2()" class="tab-hist-2">&nbsp;2&nbsp;</a>
	</div>

	<div class="tab-hist-content">

			<div class="tab-page-hist-1">
				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								21/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								21/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								21/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-nao-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="tab-page-hist-2">
				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-nao-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>
				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong><span class="status"></span>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>


				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong><span class="status"></span>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong><span class="status"></span>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong><span class="status"></span>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>

				<!--  Card Pedido  -->
				<a>
					<div class="col-xs-12 card-pedidos">
						<div class="box-tile box-pedidos white status-pago">
							<div class="col-xs-8">
								<p class="cod-pedido"> <strong>012345678</strong> </p>
								<p class="nome-cliente">MARCIO GONÇALVES DE...</p>

							</div>
							<div class="col-xs-4 text-right" style="padding-right: 0;">
								20/01/2019<br>R$ 125,15
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
</div>