<div>

	<div class="tab-hist-content">

		<div class="tab-page-hist-1">
			<!--  Card Pedido  -->
			<a ng-click="comodatopendente()" class="contrato-comodatos">
				<div class="card-pedidos" style="margin-bottom: 10px;">
					<div class="box-tile box-pedidos white status-pendente">
						<div class="col-xs-8">
							<p class="cod-pedido"> <strong>012345678</strong> </p>
						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019<br>57 itens
						</div>
					</div>
				</div>
			</a>

			<!--  Card Pedido  -->
			<a ng-click="comodatopendente()" class="contrato-comodatos">
				<div class="card-pedidos" style="margin-bottom: 10px;">
					<div class="box-tile box-pedidos white status-pendente">
						<div class="col-xs-8">
							<p class="cod-pedido"> <strong>012345678</strong> </p>
						</div>
						<div class="col-xs-4 text-right" style="padding-right: 0;">
							21/01/2019<br>2 itens
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>